[2016-02-03 23:07] cdata opened #1 "Fire route-change event on element"
_From @ebidel on October 31, 2015 18:48_

Currently the element fires `route-change` on `window` ([here](https://github.com/PolymerElements/carbon-elements/blob/gh-pages/carbon-router.html#L18)), but to leverage polymer event handlers, it's nice to catch this event on the element itself. I've modified carbon-router locally with this change. Would be good to support this:

[code]

_Copied from orig

[2016-02-10 00:34] cdata opened #2 "`Polymer.CarbonRoutingBehavior` should be merged with `<carbon-route>`"
Instead, we should rely on Polymer's new element inheritance features to enable shared implementation.

[2016-02-10 00:46] #2 closed, assigned to nobody

[2016-02-10 18:30] cdata opened #5 "Repository name may need some consideration"
As of #4 there will no longer be a thing called `carbon-router`. Should this repository continue to be called `carbon-router`? Should `carbon-route`, `carbon-route-converter` and `carbon-location` live together or in separate repositories?

[2016-02-10 18:39] cdata opened #6 "Allow configuring `carbon-location` to use `hash` as stand-in for `path`"
_As an app author,
when I add routing to my stateful app,
I want to configure routing to treat hash changes as though they are path changes,
so that I can deploy my app to a non-configurable static web server._

It is common for client-side JavaScript routers to allow the `hash` of a URL as a stand-in alternative to `path`. This allows a router to be used in cases when the author is deploying to a

[2016-02-10 19:02] cdata opened #7 "Expose `iron-page-url` "url space" configuration via `carbon-location`"
_As an app author,
when I add routing to my app with snowflake requirements,
I want access to the url space configuration,
so that I can make `carbon-route`s fit my use case._

[2016-02-10 21:48] #1 closed, assigned to nobody

[2016-02-11 22:58] cdata opened #8 "Handle clashing parameter names in `carbon-route` matcher"
I noticed [this `TODO`](https://github.com/PolymerElements/carbon-router/blob/2fa6149f8f21381e2d8965d246df711b956424f3/carbon-route.html#L62) in the code as I was stepping through it.

I propose that we take one of two possible actions:
- Make the implementation resilient to name clashes (this may raise the level of complexity more than we like).
- Explicitly document that the implementation is no

[2016-02-11 23:00] cdata opened #9 "License year is 2015, should be updated to 2016"
This needs to be done across all relevant source files.

[2016-02-12 00:01] cdata opened #10 "Write usage documentation for `carbon-route`."
To be located at the top of `carbon-route.html`.

[2016-02-12 00:01] cdata opened #11 "Write usage documentation for `carbon-location`."
To be located at the top of `carbon-location.html`.

[2016-02-12 00:02] cdata opened #12 "Write usage documentation for `carbon-route-converter`"
To be located at the top of `carbon-route-converter.html`.

[2016-02-12 00:06] cdata opened #13 "Write `carbon-route` explainer."
_As an author looking for a router,
when I review `carbon-route` as a potential solution,
I want to read a brief, approachable document that explains how to use it,
so that I can quickly get up to speed with how it will work in my app._

[2016-02-17 00:52] #5 closed, assigned to nobody

[2016-02-17 01:03] rictic opened #15 "Test out inheritance for writing custom route matching code"
This won't land until the `extends` branch in Polymer is merged, but we should test it out to be confident that this should work.

[2016-02-17 01:08] #9 closed, assigned to nobody

[2016-02-17 01:12] rictic opened #18 "Clean up/modernize demo"
The current demos have a mix of files going back a number of months. Need to clean that out and show off the most recent rev of the code.

[2016-02-17 02:15] #8 closed, assigned to nobody

[2016-02-18 00:41] cdata opened #20 "`bower.json` needs to be cleaned up"
- Dependencies are expressed with `~` range, should be `^` range.
- Empty `description` field.
- Empty `main` field.
- Some vestigial fields that may not be needed (`moduleType`, `ignore` etc.)

[2016-02-18 00:48] cdata opened #21 "`iron-page-url` dependency points to branch, should be a stable released version"
Currently, the `iron-page-url` dependency in `bower.json` points to a WIP branch called `iron-query-params`. For release, I propose that we change this to point to a specific semver release of `iron-page-url`. In order to accomplish this, we should get https://github.com/PolymerElements/iron-page-url/tree/iron-query-params merged into `master` on that repo ASAP.

[2016-02-18 01:29] cdata opened #24 "Repository needs a Travis config."
I think this is something that Tedium can fix for us fairly easily, but it needs to be done.

[2016-02-18 20:20] #12 closed, assigned to e111077

[2016-02-19 00:15] #20 closed, assigned to cdata

[2016-02-19 01:27] cdata opened #28 "Discussion: should the zero value for `queryParams` be `null` or `{}`?"
This is an open design question that has not settled. Please discuss pros, cons and alternatives in this issue.

[2016-02-19 23:15] #6 closed, assigned to cdata

[2016-02-25 01:33] #7 closed, assigned to e111077

[2016-03-03 02:55] cdata opened #34 "`carbon-route` and `route` property introduce naming ambiguity"
This issue is here to facilitate discussion on an API naming topic.

The proposal is that `carbon-route` and the `route` property of same embody distinct concepts respectively, and so either `carbon-route` should be renamed, or `route` should be renamed.

Please discuss possible alternatives or arguments against the proposal in this issue!

[2016-03-07 17:23] #10 closed, assigned to cdata

[2016-03-07 17:23] #11 closed, assigned to cdata

[2016-03-08 00:48] rictic opened #37 "Counterintuitive behavior with trailing slashes in patterns"
A trailing slash in a pattern currently means that you want to match a slash followed by the empty string.

This is counterintuitive, and an easy place to make mistakes. However, it's also useful, for specifically matching paths that end with a trailing slash.

[2016-03-08 06:19] cdata opened #38 "Active continues to be true when a route no longer matches the path"
Once a route matches, the global path may change such that the route's `route` property does not change. This results in `active` remaining `true` for routes that do not match the global path.

[2016-03-16 20:52] cdata opened #42 "Support in `carbon-route` for array values in `queryParams`"
_As a custom element author,
when I extend `carbon-route` and friends,
I want to assume that `queryParams` will gracefully handle array properties,
so that I do not need to implement support myself._

Currently, we observe for sub-property changes on `queryParams` in `carbon-route`, but we do not actually support handling splices. In fact, splice changes will result in undefined behavior. Right no

[2016-03-17 01:52] cdata opened #43 "`carbon-route` should refer to `iron-location`, not `iron-page-url`"
`iron-page-url` is going to be renamed to `iron-location`. References to `iron-page-url` need to be updated to refer to `iron-location`.

[2016-03-17 22:48] #38 closed, assigned to cdata

[2016-03-22 21:24] rictic opened #44 "Changes to a route that happen synchronously to a route update can get lost"
This is because of the `_skipMatch` property, causing upstream routes to ignore changes to their `tail` properties, even if they're legitimate. We should be able to get rid of `_skipMatch` or double checking the values of `data` and `tail` after we set `_skipMatch` to false in `__tryToMatch`.

[2016-03-23 07:16] #43 closed, assigned to rictic

[2016-03-24 00:04] #18 closed, assigned to nobody

[2016-03-24 04:25] rictic opened #46 "Import the url-bar element somewhere and use it in all of our carbon-route and iron-location demos"
The url-bar element from the carbon-route explainer is useful for our demos. It detects when it's running in an iframe and draws a helpful read-only live view of the URL bar. When it's not running in an iframe it's invisible.

We should import it into iron-demo-helpers or someplace similar and use it in these demos and in the iron-location demos.

[2016-03-25 21:42] cdata commented on #46
Is it useful for non-`carbon-route` demos?

[2016-03-25 21:42] cdata commented on #13
I'm gonna mark this done, cause it is done and done: https://www.polymer-project.org/1.0/articles/routing.html

[2016-03-25 21:42] #13 closed

[2016-03-25 21:45] e111077 commented on #46
I can see this being used in demos that use iron-location and demos that are using `carbon-route` but not really outside of the `carbon-route` sphere of influence.

[2016-03-25 23:50] rictic commented on #46
It's useful for any element that interacts with the URL bar. It's true that for the polymer team's elements that's probably going to be just carbon-route and iron-location, but I can see it being useful for app authors making demos for their elements.

[2016-03-26 00:31] rictic opened #51 "Set up travis testing of all browsers with sauce"
Need to touch base with @azakus on this, as I don't have a sauce account afaict.

[2016-03-26 00:34] rictic commented on #21
This is now fixed, we point to the v0.8 release of iron-location (nee iron-page-url)

[2016-03-26 00:34] #21 closed

[2016-03-26 20:56] rictic opened #53 "Update demos to use url-bar element"
This way the demos will make sense in environments like the elements catalog.

Blocked by https://github.com/PolymerElements/carbon-route/issues/46

[2016-03-26 20:57] rictic opened #54 "Add a customized jsbin for bug reports"
The customized jsbin will need a url-bar element though, as jsbins run in iframe by default, so this is blocked by https://github.com/PolymerElements/carbon-route/issues/46

[2016-03-27 17:03] kenchris opened #55 "Confusing README"
The readme says that (carbon location) https://elements.polymer-project.org/elements/carbon-route-converter?foo=bar&baz=qux produces a route of:
[code]

Thus ignoring queries.

But (carbon route convertor) says that:

https://elements.polymer-project.org/elements/carbon-route-converter?foo=bar&baz=qux:

has a route of:
[code]

I assume that it only has this route object when using iron-location an

[2016-03-27 17:05] kenchris opened #56 "Explain how to use # for scrolling to an id on a sub page"
I can have a route like /article/1#subsection

It would be nice with a explanation on how to load that route and still make it scroll to the #subsection like it would had I used actual pages instead of routing.

[2016-03-27 17:09] kenchris opened #57 "Add Carbon Elements to https://elements.polymer-project.org/"
Subject says it all. It would be nice to find Carbon elements on elements.polymer-project.org

[2016-03-27 21:17] e111077 commented on #57
Heya @kenchris! We intend on adding Carbon Elements to the elements page once we have a stable version out. We want to make sure that the community knows that `carbon-route` is still in alpha and the API is still subject to possible changes.

[2016-03-28 17:35] #46 closed

[2016-03-28 17:57] #51 closed

[2016-03-28 18:27] rictic commented on #24
Looks like this is fixed now.

[2016-03-28 18:27] #24 closed

[2016-03-28 18:27] rictic commented on #15
The test succeeded, now just waiting on inheritance to land in Polymer core.

[2016-03-28 18:28] cdata commented on #24
Yup, fixed by #58

[2016-03-28 18:29] rictic commented on #57
We're calling out the fact that it's a beta release in enough places that I think it's ok to land in the elements catalog. I believe that Chris was onboard for that as well, so I think this is going ahead after all.

[2016-03-28 20:51] rictic opened #60 "Tests failing in IE, can't count on Object.assign existing"
e.g. https://travis-ci.org/PolymerElements/carbon-route/builds/119073713

[2016-03-28 21:38] mbleigh opened #61 "Suggestion: "exact" matching mode"
It seems like it would be nice to have an `exact` boolean attribute that would exclude tail matching and require that the whole URL matches the remaining path. For instance, if I have a list and show for users I might want something like:

[code]

Without `exact`, there is never a circumstance in which the first route is matched but the second isn't.

If I'm misunderstanding the intended way to st

[2016-03-28 22:42] #53 closed

[2016-03-28 23:23] #57 closed

[2016-03-28 23:33] valdrinkoshi opened #62 "Demo pages work only on chrome"
### Description
All demo pages work only on Chrome, e.g.
https://www.polymer-project.org/1.0/articles/routing/demo1.html

### Browsers Affected

- [ ] Chrome
- [x] Firefox
- [x] Safari 9
- [x] Safari 8
- [x] Safari 7
- [x] Edge
- [x] IE 11
- [x] IE 10

[2016-03-28 23:34] rictic commented on #57
It's live on elements.polymer-project.org!

[2016-03-29 21:00] cdata commented on #61
This seems like something that could fall under the umbrella of "solved by inheritance." For example, a user could implement a `carbon-route` derivative that has stricter matching semantics.

[2016-03-29 21:01] cdata commented on #56
Is this purely documentation? I'm not sure we have an implemented strategy for this yet.

/cc @rictic

[2016-03-29 21:04] e111077 commented on #56
@cdata that's a good point; I'm pretty sure this will require some implementation.

[2016-03-29 21:05] rictic commented on #56
We haven't proved one out enough to have a recommended strategy, but it may be very straightforward.

e.g. If you're not using the hash as the path then you could observe the `hash` of an `<iron-location>` and use `this.$$('#' + hash).scrollIntoView()`

[2016-03-29 21:24] rictic opened #64 "Tests sometimes time out"
We get a message in the iframe saying that it can't find the path /foo/, suggesting that the page reloaded/redirected during testing.

I've only seen this failure in Chrome.

[2016-03-29 21:26] rictic opened #65 "Tests fail in IE 10"
e.g. https://travis-ci.org/PolymerElements/carbon-route/builds/119160016

Doesn't look related to the timeout bug #64

[2016-03-29 21:38] #60 closed

[2016-03-29 21:46] mbleigh commented on #61
Maybe...I tried to dive in and build a simple app structure (the Polymer Starter Kit routes) using `carbon-route` and I was pretty quickly stymied as to how to differentiate between `/users` and `/users/:name` in a simple and declarative fashion.

Might be missing an obvious way to make that work well -- how would you approach it?

[2016-03-29 22:05] #65 closed

[2016-03-29 22:06] cdata commented on #61
We spent very little time designing matching semantics for `carbon-route`. This was excusable because inheritance can allow us to offer a derived element with better semantics.

That said, in your case you can bind to the `active` property on the route that matches `/users/:name` and use that to achieve the differentiation you are looking for. For example, when the route goes from `/users/foo` to

[2016-03-29 22:09] e111077 commented on #64
Can confirm this also happens locally sometimes on IE11 and MS Edge

[2016-03-29 22:11] mbleigh commented on #61
Fair enough. If you think inheritance is a better way to go about this, please feel free to close.

[2016-03-29 22:25] rictic opened #68 "Prove out a good solution for the default route use case"
*As a user of carbon-route, I want to be able to react when none of my carbon-routes in a section of code match the current path. For example, I may want to display a 404 page, or redirect to my home page.*

One solution may be adding the concept of being given a selection that doesn't match to `<iron-pages>`.

[2016-03-29 22:28] #62 closed

[2016-03-29 23:39] e111077 commented on #55
@kenchris We will update the documentation accordingly, but I want to address your questions directly first.

Thanks for pointing out the discrepancy between the README and `carbon-route-converter` specs of the `route` object. The README is correct, and the documentation in `carbon-route-converter` is outdated.

`carbon-route-converter` requires `queryParams` because the route object has a private

[2016-03-29 23:42] cdata commented on #61
@rictic what are your thoughts on this?

[2016-03-29 23:44] cdata commented on #68
The way I have worked around this until now is measuring for changes to parameterized values and then checking to see if the new value isn't among the expected ones. This is kind of clunky, and it would be nice to have a more idiomatic approach.

[2016-03-29 23:57] rictic commented on #61
IMO we do want the matching syntax to be reasonably flexible by 1.0, especially if it's a common problem  (like this is), and the next best alternative isn't great (which I'm not yet totally sold on for this case).

I was chatting in the slack channel with @timvdlippe who's also been looking into integrating carbon-route and PSK. The solution we went with was that the main page should could be upd

[2016-03-29 23:58] rictic commented on #68
Yeah, ideally we wouldn't require repeating the options in both the HTML and a JS observer.

[2016-03-29 23:59] rictic commented on #34
Interestingly, I haven't heard any feedback to this effect so far. Anyone reading this who does find the repetition of `carbon-route` and the `route` property confusing, let us know with a comment or reaction!

[2016-03-30 08:10] kenchris commented on #55
OK, thanks for the explanation.

[2016-03-30 10:11] TimvdLippe commented on #68
I could come up with two possible solutions here:

1. The implementation is included in `carbon-route`. For example some sort of meta-element that keeps track of sub-routes and set the route to `*` if none route was matching.
* All receiving [`IronSelectableBehavior`](https://elements.polymer-project.org/elements/iron-selector?active=Polymer.IronSelectableBehavior) must handle a case where a route

[2016-03-30 11:16] kenchris commented on #68
I would also like this a lot, like my app only supports /#!/home /#!/list etc. I was trying to filter like

[code]

But for some reason the location.hash isn't updated. When I update that manually elsewhere, it works fine:

[code]

It might be nice to be able to give an array of accepted values (maybe accepting something like gulp-glob does) and if not matching having that redirect to an existing

[2016-03-30 18:25] moduv5 opened #72 "Suggestion: Enable callback before changing route"
Hello,

I watched the [last Polycast](https://www.youtube.com/watch?v=594LXGtorYE&list=PLmccrGoe3AUDPa-DeKlVimmrkU5gUlImC) about lazy loading. In the Polycast, Rob lazy load the elements before changing the route using page.js. It would be great to be able to run some logic before changing the page using carbon-route.

[2016-03-30 18:51] cdata commented on #72
In the normal flow of things, a `carbon-route` consumes a `route` and produces a `tail`. perhaps consuming a new `route` can stand-in as an opportune moment to let an observer of the `route` defer production of the `tail`. For (extremely hypothetical) example:

[code]

@rictic WDYT?

[2016-03-30 19:01] rictic commented on #72
I'm not sure if that would be enough for this use case. I think that you want to configure the loading promise on the route that's being navigated *to*, rather than the current route that's being navigated from.

At a broader level, one concern I have with delaying transitions is that it can give a great user experience during development when latencies are low but result in an unresponsive UI in

[2016-03-30 20:45] TimvdLippe commented on #72
As a coincidence, I was fiddling with this concept and came up with [`iron-lazy-pages`](https://github.com/TimvdLippe/iron-lazy-pages). Would such an element suit your use-case?

Personally, I think it is better to put such logic in selector elements that receive the route to let the developer decide which mechanism to use. This to prevent a `carbon-route` that "does-all-the-things".

[2016-03-30 21:32] TimvdLippe commented on #68
A proposal has been submitted for [`IronSelectableBehavior`](https://github.com/PolymerElements/iron-selector/issues/116) to implement the earlier stated second solution.

[2016-03-31 09:47] kenchris commented on #68
That is a solution which I can support, but I don't think it might be enough in all cases, like it will mean that I will have to do the fallback at all the source spots which - depending on the project - might not be the best solution.

Having both options would be better.

[2016-03-31 10:06] kenchris commented on #68
What about a kind of redirector?

[code]

It could of course filter using a method instead

[2016-03-31 10:50] TimvdLippe commented on #68
@kenchris That would however mean that the `carbon-redirect` needs to know every possible subpath. This is in my eyes the responsibility of a selector which based on the input selects an element/option.

I am not sure what you mean with "the fallback at all the source spots". The `carbon-route` does not decide what the fallback is, this is up to the receiving element (for example an `iron-pages`)

[2016-03-31 11:06] kenchris commented on #68
I mean that the route might control a lot more in my app than decide what iron-page is shown, so it means that I need to handle the routes at each of these spots in my code where I make such decisions - which might not be optimal solution, which is why I like being able to handle redirection in one place.

The ```carbon-redirect``` doesn't need to handle every possible subpath, but at least filter

[2016-03-31 15:54] moduv5 commented on #72
An element like iron-lazy-pages can suit my use-case, but what if i want to use neon-anmated-pages to have animation when switching between pages? I agree with you, maybe the lazy loading should be managed in iron-pages or neon-animated-pages instead of the router.

[2016-03-31 16:35] atotic commented on #72
You can use these as a lazy loading replacement for neon-animated-pages: https://github.com/atotic/lazy-pages

[2016-03-31 16:57] abdonrd commented on #68
I haven't yet started testing the `carbon-route` a lot, but I like the @TimvdLippe option; delegate that responsibility in the selector element: `iron-lazy-pages`?.

[2016-03-31 17:16] ktiedt commented on #68
A valid point was raised though, this forces every selector to be aware of
a "default" where as if it was a feature of the router element it could
handle it in one place which is also a very valid design point. Technically
the router should handle the selection value and the selector the display
aspect.
On Mar 31, 2016 09:57, "Abdón Rodríguez Davila" <notifications@github.com>
wrote:

[2016-03-31 17:56] olegomon commented on #68
I agree with @kedit Please consider also conditional redirects. If the user is logged in I would like to redirect to a default app route like /app or to /home otherwise.

[2016-03-31 19:00] cdata commented on #72
This is what I intended to illustrate in my example. The `navigate` event fires when the new `route` is consumed, allowing the user to defer production of the `tail`. Sorry if it was ambiguous.

Sure, but shouldn't we make it as easy as possible for the user to decide when and how transitions are deferred?

It seems like an open-ended enough problem that we may not want to enforce any particular p

[2016-03-31 19:20] arthurevans commented on #56
I think it may be something that needs to be handled by the app (or user's element, anyway), but we should talk about patterns.

In particular, if you're loading data dynamically, you need to wait until the data is loaded & rendered, then scrollIntoView. And the ID you're scrolling to could be in light DOM, local DOM, or even a child's local DOM. So you may need to know the structure of the page i

[2016-03-31 19:58] rictic commented on #68
Agreed that we should have super solid redirection support, both for 404-style use cases as well as not-logged-in and others. An element like `carbon-redirect` as sketched out by @kenchris should be fairly straightforwards to write after #44 is fixed.

@ktiedt With Tim's proposal the handling of the default is done in a single place. For me it's just a matter of which is more elegant. The element

[2016-03-31 20:15] rictic commented on #72
I see your point about it being disruptive to the display for consistently low latency operations.

I'm not entirely sure I understand how this would work if the configuration is only on the receiving carbon-route (i.e. the one that becomes active after the navigation).

Imagine a simple UI that's structured like this:

[code]

In order to support delayed navigation when someone navigates from `<i

[2016-03-31 20:55] cdata commented on #72
Depending on the implementation, I can imagine...

- `<app>` may need to know (and per my straw man, it would)
- `<store-page>` may need to know that it will no longer be active, and may want to defer based on that information. I don't have a ready example for how the "outgoing" case might be dealt with.
- `<user-page>` would know, and have an opportunity to defer
- `<profile-page>` would know, an

[2016-03-31 20:58] cdata commented on #56
It would be good to verify the behavior of using `#` to target a scroll point in the page under ShadowDOM. In the Polymer Elements case, we certainly have many duplicate IDs across the several shadow boundaries. Does the browser treat these as if they are all at the top level?

[2016-03-31 21:06] cdata commented on #28
Does this need more discussion? Have we landed on `{}`?

[2016-03-31 21:15] ktiedt commented on #68
@rictic it is a single place in most circumstances but ultimately it is not always a single point.

What happens when you have a nested route like /Users and /Users/ID

Users/ID may be a nested iron-pages to toggle between "generic user page" vs "user profile page for ID" Now 2 place potentially need "default" values.

The one problem I see with the pages element handling things (after reading the

[2016-03-31 21:18] e111077 commented on #28
I think we did land on `{}` [source](https://github.com/PolymerElements/iron-location/blob/master/iron-query-params.html#L29)

[2016-03-31 21:29] arthurevans commented on #56
Yeah, it doesn't work. Or at least it doesn't work consistently. You can try this little jsbin here:

http://output.jsbin.com/piriwa#3

In shady DOM, `#inner-4` scrolls to card #4, `#generic` scrolls to the first card (each card has a div with the id `generic`).

In native shadow DOM, only the IDs that aren't contained in any shadow root work at all. (`#4` works but not `#inner-4`).

So in most ca

[2016-03-31 21:53] TimvdLippe commented on #68
@ktiedt In that situation, we essentially have a declarative form of the previous `page.js` implementation. I do not see a harm in creating a separate element to provide that functionality, but I do think that `carbon-route` is not the place to implement it.

[In the gist I created](https://gist.github.com/TimvdLippe/9bfebc20aec75dd36126b8162c310dff#file-user-page-html-L3) for the default selector

[2016-03-31 22:20] ktiedt commented on #68
I still see a functional shortcoming that appears to be overlooked in this case. Which is why leaving the routing to the router (not the page) makes more sense.

Without an working demo to play with here, let me go through some logic steps, maybe I am missing something and you can point out where I'm not seeing this working as expected.

**Current state of carbon-router**
1. User loads `mysite.com

[2016-03-31 23:58] cdata commented on #56
I wonder if this is an opportunity for us to define specialized semantics for how hash links should work in an app that has several layers of ShadowDOM. Perhaps we could prescribe a pathing mechanism that users can leverage to specify jump points through a series of shadow boundaries. For example:

1. User navigates to `/lur#omicron#persei#8`
2. Target selection is made as follows (approximation):

[2016-03-31 23:59] cdata commented on #28
I'm gonna close this, since it seems resolved. We can re-open if it isn't :octopus:

[2016-03-31 23:59] #28 closed

[2016-04-01 01:22] rictic commented on #68
@ktiedt As far as I can tell, the only user-visible difference between the selector changes and your proposal is that the  `/non-existant-page` redirects to `/my-404-page`. IMO some people will want to redirect when there's a 404 and some won't, and we should support both. The selector change should give you the hooks to redirect if you want.

With regard to whether a given piece of information is

[2016-04-01 02:54] ktiedt commented on #68
No problem, my only concern is that, effective route changes should not happen w/o the knowledge of the router and without updating the route state. That seems like a contract that should not be easily broken or that should require the user to go out of there way to achieve.

[2016-04-01 03:16] rictic commented on #68
Yeah, that's reasonable. I can see the value in both ideals. We'll take a stab at the iron-selector changes, as they are small and reasonable in isolation of this debate, and we can see how well it works for a variety of use cases.

[2016-04-02 13:57] TimvdLippe commented on #37
While not specifically trailing slashes, I am currently having issues with matching the root directory. My setup is as follows:

[code]

Sadly this is not working, because `/:page` does not match `/`. Debugging the route results in:
[code]
whereas `data` results in
[code]

What I would expect (and to make a home-page routing work) is that the `data.page` is `""` instead of `null`.

[2016-04-02 14:20] TimvdLippe commented on #37
To answer the question: so far I have not yet find a solution to have a homepage matching root. E.g. if in the above example I visit the store and click on `Head back home.` the router stops working and I see a white screen. Since having a home-page is crucial (:stuck_out_tongue:) and more intuitive, I would like to see this getting fixed.

[2016-04-02 17:16] TimvdLippe commented on #68
I just pushed an update to the `iron-selector` PR. This allows the developer to use the data-binding system to let the router be notified of changes.

Example:
[code]

* When you open `domain.com/asdf` the selector will change to the 404 and the url is updated to `domain.com/404`.
* However if you use one-way-binding (`selected="[[routeData.page]]"`) you still see the 404 message, but your url is

[2016-04-04 18:14] keanulee opened #73 "Object.assign does not work in IE"
### Description
`Object.assign` is used in <carbon-route>.__routeQueryParamsChanged, which is not supported in IE11 (ref https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/assign). Is there an alternative we can use?

### Expected outcome

Router should work in IE11.

### Actual outcome

Router doesn't work in IE11.

### Live Demo

### Steps to reproduce

### B

[2016-04-04 18:23] e111077 commented on #73
Fixed in

https://github.com/PolymerElements/carbon-route/issues/65

[2016-04-04 18:23] #73 closed

[2016-04-05 22:30] #55 closed

[2016-04-06 19:27] timeu opened #74 "Opening a path and redirecting in an observer won't update the location bar"
### Description

Not sure if this is by design or a known issue. I put `carbon-route` and `carbon-location` into a custom element. I added a `observer` to check if the `page` parameter is valid and if not I reset it, so that the user is redirected to a valid path.

So if I open the path: `http://localhost:8000/some_invalid_path` I should get redirected to `http://localhost:8000`

### Expected outc

[2016-04-06 21:34] timeu opened #75 "Updating data property of subroute won't propagate when subroute is not active"
### Description

Not sure if by design or a known limitation:

I have a parent route with a `:page` data property and a subroute with an `:id` property.
[code]
If I update the `data` property of a subroute the browser location bar won't propagate, if the subroute is not active/matched.

### Expected outcome

Original URL: http://localhost:8000/somePage

[code]
New URL: http://localhost:8000/somePa

[2016-04-06 22:15] ktiedt commented on #68
@TimvdLippe can you apply this example here to a nested route? Myself and my teammate are not seeing a solution for this in these changes, and it is still something we are going to need to support in our projects...

[2016-04-06 22:37] TimvdLippe commented on #68
As per slack conversation: Yes you can apply this to any nested route, but it will not effect any global route. As you can see [here](https://github.com/TimvdLippe/polymer-lazy-application/blob/master/app/store/store-page.html#L51-L53) if you open `localhost:3636/store/invalidstore` it will redirect you to `localhost:3636/store/not-found`

[2016-04-07 06:57] TimvdLippe commented on #75
It should work if you use a trailing slash? `http://localhost:8000/somePage/`

This is indeed confusing and I also encountered with the matching in that sense

[2016-04-07 09:11] timeu commented on #75
Yeah a trailing slash fixes it.
However IMHO this is not really a satisfying solution because I don't have a control of which URL users puts into the browser location bar and I want to avoid some brittle workaround to add a trailing slash to every URL.

Also the `carbon-router` itself does not add any trailing slashes itself, so if I want to navigate to a sub-route it won't work. Let's assume that

[2016-04-07 09:14] TimvdLippe commented on #75
Yes I encountered this too and I think issue #37 is designated to fix/clear up this behavior.

[2016-04-07 13:15] JosefJezek opened #76 "Demo for Progressive Web App"
Could you create demo for Progressive Web App?

- https://github.com/PolymerLabs/zuperkulblog-progressive/issues/4

[2016-04-11 21:37] rictic commented on #74
Confirmed that this is a real bug and not intended behavior. I'm working on this issue this week. We've got this filed as #44.

[2016-04-11 21:37] #74 closed

[2016-04-11 21:54] rictic commented on #75
As designed, changes to data on inactive routes don't propagate. The thinking here is that this is the less surprising thing, as it would be easy to get into a situation where changing a property that happens to be bound into a distant `carbon-route` could end up with an unexpected redirect.

The subtle distinctions between `/foo`, `/foo/` and `/foo/bar` here aren't great though. As Tim mentioned

[2016-04-11 21:55] rictic commented on #76
Closing this, as https://github.com/PolymerLabs/zuperkulblog-progressive/issues/4 is a good canonical place for this bug.

[2016-04-11 21:55] #76 closed

[2016-04-11 21:56] #75 closed

[2016-04-12 00:07] Where-Solutions opened #78 "Suggestion - Add route to document.title for easy navigation on browser back/forward buttons."
Hi, I made this small change, but maybe it should be standard feature:

<carbon-route route="{{route}}"

[code]
Or is there a better way to do this.

[2016-04-12 11:16] timeu commented on #37
I already gave an example in the linked issue #75, but currently it is not possible to navigate from a parent route (i.e. domain.com/users) to a subroute (i.e. domain/users/1) purely with databinding, because of the missing trailing slash.
@TimvdLippe PR #77 seems to fix this (haven't tested it yet tough).

[2016-04-12 17:27] TimvdLippe commented on #78
I think the idea of binding to the document title is interesting, I do not think this should be included into `carbon-route` in this manner. This will break with nesting `carbon-route` resulting in inconsistent behavior.

It might be an idea to create a separate element for this that could be attached to a `carbon-location` which can implement this behavior. That would be :+1: for me

[2016-04-13 09:42] ronnyroeller commented on #61
Thanks for the suggested solution approaches!

Just to share my experience: I bumped into the `/users` vs. `/users/:name` issue within 10 min after prototyping `carbon-route` into our application. Although the suggested solutions are all reasonable, I found it a quite demotivating hurdle for adoption the routing elements, considering that the use case feels pretty common.

[2016-04-13 11:33] ronnyroeller commented on #61
@rictic - Encouraging modular elements is definitely a good point. But would sub routing work also with `neon-animated-pages` which, to my knowledge, require to have all pages on the same level?

[2016-04-13 13:24] ronnyroeller opened #79 "Simplify mapping to `iron-pages` if the location scheme doesn't match the code structure"
The mapping is very elegant if the URL scheme matches the code structure. For example (from https://www.polymer-project.org/1.0/articles/routing.html#example):

[code]

### Problem

It's getting considerable more complex if the `key` can't be directly extracted from the location (e.g. because an existing URL schema needs to be preserved).

For example, given these locations:
- #groups -> All group

[2016-04-14 18:56] rictic commented on #78
Given the way that `document.title` integrates with history, something keep the title up to date makes sense to me. It may make sense to put this all the way up with iron-location.

[2016-04-16 23:04] exgalexo opened #80 "Unable to post stackoverflow questions because carbon-route tag does not exist"
### Description
In the Polymer routing guide, it mentions that questions tagged "carbon-route" on stackoverflow will be watched:
https://www.polymer-project.org/1.0/articles/routing.html

However, I am not able to tag questions with this tag because the tag does not yet exist, and at least 1500 reputation is required to create a new tag (e.g. currently I only have ~150 reputation).

### Expected o

[2016-04-18 18:27] ktiedt opened #81 "pre-route hook - ie: to enable authentication required pages"
Add a pre-route handler that is fired everytime a route is tested, it should receive the route parameters that *would* be set, if the pre-route handler fails.

pre-route handler would fail by passing back a new route object or path (redirect to login page for example) basically, if return is not falsey it should be a failed pre-route check.

[2016-04-18 19:33] rictic commented on #80
Thanks for filing this bug report! I added the carbon-route tag to your question and created the tag.

[2016-04-18 19:33] #80 closed

[2016-04-20 14:39] 43081j opened #82 "`data` can be briefly inconsistent with `tail` when the route path changes"
Inside carbon-route (in `__tryToMatch`), `this.data` is set just before `this.tail`, as you see [here](https://github.com/PolymerElements/carbon-route/blob/master/carbon-route.html#L276).

This results in the inability to do routing logic on data changes because the current tail is incorrect (old).

For example, if you have a single route of `/:page` and use the data to control iron-pages, like so

[2016-04-20 17:37] christophe-g opened #83 "location.hash not is sync with route path"
### Description
The route and hash are not in sync.

### Expected outcome
In the example below, the expected outcome is that the hash part of the url is in sync with the selected tab.

### Actual outcome
loading the page without already setting the **#** part (e.g. just `localhost` instead of `localhost/#home`) causes the url to be out of sync (no change in the url is observed when selecting new t

[2016-04-20 20:20] christophe-g commented on #83
o.k.
seems to be linked to the same issue as #75 and #37 (with a PR on #77).

Some additional docs on how to approach this use-case would be welcome ; )
C.

[2016-04-20 23:48] cdata opened #84 "How does routing `ServiceWorker` cooperate with `carbon-route`?"
_As a Polymer app author,
when I use `carbon-route` *and* a routing `ServiceWorker`,
I want the `ServiceWorker` to be aware of my app's routes,
so that I only have to declare them in one place._

This issue is intended for design discussion about how to make sure that `ServiceWorker`s that care about routing don't have be configured in a redundant way for Polymer apps that use `carbon-route`.

[2016-04-20 23:56] rictic commented on #84
One gambit that @justinfagnani came up with, which I'll call `SPA-404` is to configure your service worker to default to serving your SPA's `index.html` file if it doesn't know what else to do (i.e. there's no static file that matches). The SPA is then responsible for handling the 404 use case.

Pros:
* Simple
* Easy to use the same strategy both for your service worker and your server software

C

[2016-04-21 00:03] rictic commented on #84
Another gambit is to do a very small amount of duplication, and define the outlines of the URL space for the service worker. For example, if the url space looks like:
-  `/`,
- `/user/profile`
- `/user/profile/edit`
- `/store`
- `/store/garden`

Then the service worker and backend server could be configured to serve the SPA out at `/` or any url that began with `/user` or `/store`, but without kno

[2016-04-21 00:18] justinfagnani commented on #84
One nice thing about the "SPA-404" approach is that the behavior will likely very closely match between a minimally configurable static file server and sw-precache. The static resource paths will be whitelisted and served from the server and the cache. Everything else will serve the shell from the server or load the shell from the cache.

[2016-04-21 00:26] justinfagnani commented on #84
Just leaving this here for posterity:

There are those who would like one routing configuration shared between the three environments: client, service worker, and server. IMO, there are ways to do this that fit with `carbon-route`s philosophy and current implementation.

The URL space that a collaborating set of routing elements works on does not have to be the same URL space that appears in the b

[2016-04-21 17:48] mgibas commented on #37
Im running into same issue that @timeu mentioned. @TimvdLippe PR #77 fixes the issue (matter of fact I just modified the file for now)

[2016-04-21 21:43] arthurevans opened #86 "How does carbon-route integrate with history"
### Description

With carbon-route, we can't distinguish between forward navigation and backward navigation. This would be useful so we could restore scroll position when navigating _back_ to a page, which is what the browser does natively.

There may be an obvious approach to this that I'm missing, but I don't understand the timing. If we use plain `<a>` tags to navigate, `<carbon-route>/<carbon-

[2016-04-22 15:21] LoveAndHappiness opened #87 "Substantial Application for Demo"
That's a substantial application for being just *demo*.

Any inclinations to downsizing it, to increase comprehensibility? I've personally my trouble with it and am stripping everything unnecessary out of it.

Though I appreciate having a full application as a demo.

[2016-04-24 17:13] ktiedt opened #88 "[feature request] - path helper - similar to more-routing's urlFor method"
It would be nice if there was a method to generate the proper href depending on hash or pushstate option.

https://github.com/PolymerLabs/more-routing#urlfor (for reference)

[2016-04-25 18:35] TimvdLippe commented on #88
Could you add a sample snippet to show how this property is calculated? E.g. if you use the method, what is the expected outcome and how is it used?

[2016-04-25 18:46] ktiedt commented on #88
I now realize the referenced document is not the best example of what I asked for because of a different design followed in `more-routing`
[code]
would result in: (depending on what mode was being used)
[code]
or
[code]
And I would hope this could be expanded work similar to `more-routing.urlFor` and calculate URLs for patterns  either by referencing the related path (not likely to be very functio

[2016-04-25 19:19] TimvdLippe commented on #64
I started debugging these timeouts here: https://github.com/TimvdLippe/carbon-route/pull/1

[2016-04-25 21:14] TimvdLippe commented on #64
[This regex](https://github.com/PolymerElements/carbon-route/blob/master/test/carbon-location.html#L174) appears to break it. You can see the builds in my PR where commenting the regex fixes the timeout.

[2016-04-26 23:09] arthurevans commented on #15
Will this handle things like having one route handle:

- `/start/`
- `/docs/`
- `/tools/`

but not:

- `/search/`
- `/api/`

... because I can't figure out how to do that now.

[2016-04-27 02:49] rictic commented on #15
@arthurevans You could definitely extend the route matching logic to support that use case.

[2016-04-27 05:08] arthurevans commented on #15
Cool. I don't suppose you have any ideas for how we could do this now...? Asking for a friend. Or a friendly website.

[2016-04-27 18:04] keanulee opened #89 "Pathname "/" matches "/:pattern""
### Description
When using path (i.e. non-hash) routing and at the root domain (e.g. "http://localhost"), `<carbon-route pattern="/:pattern">` becomes active and the data object becomes `{ pattern: '' }` (empty string mapped to pattern).

### Expected outcome

The `<carbon-route>` should not match.

### Actual outcome

The `<carbon-route>` matches and data is `{ pattern: '' }`.

### Live Demo

(No

[2016-04-30 13:19] TimvdLippe commented on #89
For me this is intended behavior. If this would not work, the selection of a home-page within an `iron-pages` would not be possible and significantly degrades the developer experience using this element. Therefore I would vote to keep the current behavior as this is more intuitive.

[2016-04-30 13:23] TimvdLippe commented on #79
The way I solve these sort of problems is by moving the inner-carbon-routes to the respective page element. In other words: the main `neon-animated-pages` is not aware of the inner-structure of the `groupId` and `members` sub-routes. Therefore the first selection only has `groups`. The tail is then passed along to the element, which itself has a `carbon-route` matching on the `groupId` and `member

[2016-04-30 13:26] TimvdLippe commented on #68
The property `fallback-selection` on `iron-selector`s has been available for quite some time now. Has it proved to be successful in the provided use-cases?

[2016-04-30 13:32] TimvdLippe commented on #44
A similar issue has been discovered in #77 where updating a `data` value (and consequently updating the corresponding route) resulted in a loss of the `tail` property. I have solved this in the PR by explicitly calling `__tryToMatch` in the observer.

However, this `_skipMatch` is still problematic. If I understand the code correctly, the reason it exists is because of the clear connection between

[2016-04-30 23:12] gertcuykens opened #90 "Less confusing syntax sugar"
In most cases you don't need the `route="{{route}}"` attribute thing that right now you have to spam all over the place.

Example how I think it should look like instead:
[code]

or just

[code]

and call `carbon-location` internally if the `route` attribute is not specified

[2016-05-01 12:27] TimvdLippe commented on #90
@gertcuykens I have not needed more than two `<carbon-location>` in my applications. What is your setup that requires you to do so?

[2016-05-01 13:42] thesuperzapper commented on #90
Not OP, but I have needed two `<carbon-location>`.

One was to control the main URL, and the other was to control the stuff
after the "#".

On Mon, 2 May 2016, 00:27 Tim van der Lippe, <notifications@github.com>
wrote:

[2016-05-02 10:35] ronnyroeller commented on #79
@TimvdLippe Thanks for sharing your thoughts. The part I don't understand is how you avoid animations mixups. If the main `neon-animated-pages` is not aware of the inner-structure, how do you handle these two cases:
1. Navigate within sub page,e.g. go from #groups/:groupId to #groups/:groupId/member
2. Navigate to sub-page: go from #groups/:groupId to #xxx, and then from #xxx to #groups/:groupId/m

[2016-05-03 07:40] palli opened #91 "observers in `carbon-route` break when compiling the Javascript with Closure compiler."
### Description
When the `carbon-route` element is present on a page, it will not work as expected after the code has been compiled with jscompiler and instead prints error to the JS console.

Curiously, when removing some of the observers from the observer list, say `__updatePathOnDataChange()` the code works fine and everything gets minimized correctly.

I think this might be related to either t

[2016-05-03 08:16] jorgecasar commented on #89
You can avoid this match preceding another carbon-rote to math the "/". Something like:

[code]

This only happens with root path. If you are in the next situation this doesn't happen.

[code]
In this case we have this scenarios:

* localhost --> isActive === true & isActive2 === false
* localhost/ --> isActive === true & isActive2 === false
* localhost/path --> isActive === true & isActive2 === f

[2016-05-05 21:37] rictic commented on #90
It would be nice to have a little less boilerplate, but philosophically `carbon-route` is taking a stand that simple, standard, and explicit is better than complex, special, and implicit, . A big win of `carbon-route` is that it's easy to understand and debug because it's not doing anything magical, most of the work of routing is turned into simple and standard data binding.

[2016-05-05 21:37] #90 closed

[2016-05-05 21:44] rictic commented on #88
This is a nice feature to have, especially for a reusable routable element. The tricky thing here is that this requires something of global knowledge. You need to know how the carbon-location is configured as well as every carbon-route element in the path from that carbon-location to the final carbon-route element that you want to generate a link for.

[2016-05-05 21:56] rictic commented on #86
Conceptually this is pretty straightforward I think, the main open questions are around how best to plumb the information that describes the nature of the most recent navigation through the system.

iron-location can fire an event on window, kinda analogous to `beforeunload`, that lets the page know that it's about to call `pushState`/`replaceState`, giving the opportunity to save the scroll posit

[2016-05-05 21:59] rictic commented on #83
The simplest solution for now is to write a bit of code that inspects the hash on page load and redirects to `#/` or similar if it's blank. We're thinking about how best to address this more generally. As you noticed, #37 is the issue to follow.

[2016-05-05 21:59] #83 closed

[2016-05-05 22:02] rictic commented on #82
I think that my solution for #44 should address this. It involves hacking into the ugly details of the internals of the data binding system, but as the change is currently exists it will appear to the outside world as though `tail` and `data` change at the same time, atomically.

[2016-05-06 01:50] notwaldorf commented on #56
👍 to @cdata's proposal

[2016-05-06 15:48] arthurevans commented on #56
It feels to me like @cdata's proposal cuts _against_ the grain of the primitives. It also feels like it breaks `<carbon-route>`'s notion of modular and encapsulated routing by making scroll-to-anchor cut though all those carefully-constructed encapsulated elements.

Also, how do you know which element you have to scroll? And how do you know that the page has rendered enough so that you can scroll

[2016-05-06 15:52] arthurevans commented on #56
So, um, I guess for the doc site we'll fall back to "application listens to hashchange, decides which component should manage the scroll state for this event" which is basically what @rictic said way back in https://github.com/PolymerElements/carbon-route/issues/56#issuecomment-203104072. :D

[2016-05-06 21:57] dhesson opened #96 "Hash as path includes query parameters in path"
### Description
Carbon location's use-hash-as-path does not separate query parameters from the path itself, causing carbon-route pattern matches to fail.  An example URI that works with default behavior, but no longer works once useHashAsPath is set to true, would be the URI `http://localhost/search?p=12312`.  Once we introduce a hash and the URI becomes `http://localhost/#/search?p=12312`, use ha

[2016-05-06 22:35] robdodson commented on #88
@rictic That's true but the alternative is to hard code the URLs everywhere or pass around your own global object.

[2016-05-07 00:17] #54 closed

[2016-05-07 01:26] rictic commented on #96
Our gambit for this right now is to always put the query params in the `query` section of the url, so instead of `http://localhost/#/search?p=12312` you'd do `http://localhost/?p=12312#/search`. It looks slightly weird, but it works, and it gives a few advantages. The biggest is that we're can use entirely standard, browser-native URL parsing.

As far as I'm aware major static file servers ignore

[2016-05-07 01:28] rictic commented on #88
@robdodson This is true. Link generation getting significantly harder appears to be part of the trade off for modular and decentralized routing.

[2016-05-07 07:18] abdonrd commented on #88
👍!
I would like to remove hard code URLs in the PSK2.

[2016-05-07 14:27] TimvdLippe opened #97 "Default redirect page for home"
### Description
Applications have a default page when you initially open the website. For example instead of `localhost:8080/` the user should see `localhost:8080/my/home/page` as home page url.

It would be better if this could be directly integrated into the `<carbon-location>` by adding a property `fallback="art` which will set the `route.path` to the corresponding.

### Usage
[code]

When the

[2016-05-11 21:48] #44 closed

[2016-05-12 20:30] jkji opened #99 "Hash as path matches paths without hash"
### Description
`carbon-location` with use-hash-as-path matches paths without hash.

    <carbon-location route="{{route}}" use-hash-as-path></carbon-location>
    <a href="#/view">Hash link</a><br/>
    <a href="/link">No-hash link</a>

### Expected outcome

I expected it to only match paths with hash with use-hash-as-path.

Workaround: `url-space-regex="^#/"`. Not sure how that will work with qu

[2016-05-12 21:21] tjsavage opened #100 "Rename to app-route"
It is time.

We've gotten continual and well-reasoned [feedback](https://twitter.com/joshlangner/status/724946431027601408) that the periodic-table element naming scheme is cute but very confusing, especially for new developers coming to Polymer and the components.

Since the "carbon" elements are a new product line and really all about building apps, let's just call them what they are: the app-*

[2016-05-12 21:24] abdonrd commented on #100
Wow! Nice news!

[2016-05-12 22:38] rictic commented on #100
Yay!

If we rename the repo (and I think we should) then this does require a major version bump to prevent breaking existing users, so we can call the app-router release `v0.9.0`. At the same time, we're taking a look at PR #77 around this weekend which is a (small) breaking change as well.

Do we have a date before which we want to land this rename? Doing two major version bumps wouldn't be much

[2016-05-12 23:11] rictic commented on #97
My intuition is that this is better encoded as a bit of logic on the app element.

Some apps want to redirect `/` to `/my/home/page`, some want to redirect `/user/` to `/user/profile` but not redirect `/user/alice`, etc etc etc.

Adding this to carbon-location is more complexity on the element, and may communicate that redirecting is special and needs to be handled by special routing code. This is

[2016-05-12 23:11] #97 closed

[2016-05-12 23:16] rictic commented on #99
Good point! We could definitely give a better default url space regex for this use case.

We still want to match links to the current page's path but different query params, for example:
`"?a=b#/foo/bar"`

[2016-05-12 23:17] rictic commented on #96
Closing this for now, but please feel free to push back if you've got a use case that can't support proper query params.

[2016-05-12 23:17] #96 closed

[2016-05-12 23:21] tjsavage commented on #100
Agreed on bumping to 0.9.

Let's try to land this rename early next week, so if that can coincide with the other breaking change that'd be perfect.

[2016-05-12 23:56] rictic commented on #91
This should be fixed now.

[2016-05-12 23:56] #91 closed

[2016-05-13 05:01] atomikolex commented on #100
There already is Erik Ringsmuth's [https://github.com/erikringsmuth/app-router](url)... Just saying.

[2016-05-13 08:11] abdonrd commented on #100
@atomikolex Well, change one character... `PolymerElements/app-route` vs `erikringsmuth/app-router` 😅

[2016-05-13 08:16] TimvdLippe commented on #97
The intention was to only support redirects from `/`, not redirects in general. Therefore it should not do anything for `/user/` or any route in general which is not `/`.

[2016-05-13 09:08] atomikolex commented on #100
Sure thing. Just thought the similarity may actually enhance confusion for older users.

Also, as this namespace falls in line with the app-layout lab elements, it may be difficult to understand why all of these new elements would be all about building apps - compared to the paper, neon, gold, or platinum elements.

If you are breaking your naming system in order to respond to the above feedback,

[2016-05-13 15:11] tjsavage commented on #100
@atomikolex Agreed, a full reshuffle is probably the goal, to get more concrete and less abstract. It would be a big catalog-wide breaking change though, so this current plan is a bit to test the waters with changing a single name of a new element and also introduce some forthcoming new elements with the app-* name. If it works out, we'll be able to have a little more data and be able to plan a be

[2016-05-13 16:01] atomikolex commented on #100
As always, I am sure you will come up with a good solution, if you need to make that change. For a big overhaul, my vote would be for a unified system, taking in the Polymer brand somehow.

[2016-05-13 22:58] rictic commented on #97
My point with the `/user` -> `/user/profile` example is just that there are a lot of redirection use cases, and it's not clear to me why we should bake in special handling for the use case of redirecting away from `/`

[2016-05-14 14:18] TimvdLippe commented on #82
This issue has been fixed with #93 I suppose

[2016-05-14 14:20] TimvdLippe commented on #64
Has been fixed in #95, my PR tests ran cleanly.

[2016-05-17 04:14] rictic commented on #82
Oh, good catch, yep!

[2016-05-17 04:14] #82 closed

[2016-05-19 16:06] arthurevans opened #105 "app-route appears to hijack links with `target` attributes set on them"
### Description

Go to:

https://www.polymer-project.org/1.0/blog/routing

Click on the "Open in new window" links below the demos. Note that the links do not open in a new window. (Ignore the fact that the URLs are kind of messed up.)

### Expected outcome

Links open in new window/tab.

[2016-05-19 17:07] arthurevans commented on #105
Update: works as expected if the URL includes the host. So:

[code]

Appears the fix the problem completely. So, this is either not-an-issue or a gotcha for the documentation.

[2016-05-23 12:53] sergofan opened #106 "Please tell me why it requires a slash at the end?"
As here - [https://jsbin.com/kotahidovu/edit?html,console,output](url)
like the:
`if (this.route.path === '/two') {
  this.set('route.path', '/two/');
};`
Otherwise, why it does not work.
This is a bug or a feature? :-)
Maybe I do not understand something?
Thanks.

[2016-05-23 12:56] TimvdLippe commented on #106
This should be fixed in #77. It was required to be able to update the url on a sub-route if the data-binding changed. If you would omit the `/`, the sub-route would not be active and therefore the data-binding update would be discarded.

[2016-05-23 13:03] sergofan commented on #106
Ok.  :-)

[2016-05-23 13:03] #106 closed

[2016-05-24 21:47] rictic commented on #105
Fixed by https://github.com/PolymerElements/iron-location/pull/37 which I just released as v0.8.3 of iron-location.

[2016-05-24 21:47] #105 closed

[2016-05-25 15:21] gaurav21r commented on #100
This should be closed? @rictic

[2016-05-25 15:52] gaurav21r opened #108 "app-location should fire events!"
### Description

From the docs, `app-location` is an element that provides synchronization between the browser location bar and the state of an app.

A WebComponent like an HTMLelement, should have properties (DOM Props or Attributes), methods and events.

### Expected outcome

There should be an event like `onRouteChange` which I can `addEventListener` to and get the parsed route details in `e`.

[2016-05-25 16:01] rictic commented on #100
Yep!

[2016-05-25 16:01] #100 closed

[2016-05-28 03:04] morganwu opened #109 "event not fired when 'active' value changed to true"
I was trying to do some processing when route hits by observing 'active' property, but found the observer function was not invoked when value of 'active' property changed from false to true, while the function invoked when it changed from true to false.

[2016-05-28 03:38] e111077 commented on #87
Didn't mean to close, sorry.

This is a good idea; some people just want the gist.

[2016-06-04 10:10] AlexNasonov opened #110 "Script does not reset second-level and further patterns on route "back" change"
### Description
Created app-location and app-route components:
[code]

Added a few buttons:
[code]
Created an observer:
[code]
### Expected outcome
Click buttons one after another:
[code]
### Actual outcome
[code]

### Browsers Affected

- [х] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ] IE 11
- [ ] IE 10

[2016-06-04 10:32] TimvdLippe commented on #110
This was the issue also reported at https://github.com/PolymerElements/app-route/pull/77#discussion-diff-63082376

[2016-06-07 07:10] flowlo opened #111 "No Hash"
We're developing a single-page application and are currently using Polymer in connection with [Page.js](https://visionmedia.github.io/page.js/).

It has an [option](https://visionmedia.github.io/page.js/#pageoptions) to configure whether or not to append `#!` before URLs. If set to false, and the server delivering our SPA not only on `/` but on `/.*` (with some exceptions for assets), we have sane

[2016-06-07 09:27] addyosmani commented on #111
@rictic Do you know if the ability to prepend `#!` before URLs has been considered before?

[2016-06-07 09:43] flowlo commented on #111
@addyosmani Not sure if I am misunderstanding here, but to clarify: What we are looking for is no hash at all. Neither `#` nor `#!`.

[2016-06-07 09:47] TimvdLippe commented on #111
@flowlo If you omit `use-hash-as-path` from `app-location` you already get this behavior. No `#`, no `#!` just plain `domain.com/foo/bar`

[2016-06-07 11:02] flowlo commented on #111
@TimvdLippe OK, then my second rant comes into play:

I would appreciate if that could made be more explicit in the docs of this element, as I specifically looked for this functionality and could neither confirm or deny that it is there by only reading the docs.

Maybe because the docs never really mention a hash (obviously, because there is none) except for the section about `use-hash-as-path`.

[2016-06-09 17:02] neckaros opened #112 "Child app-route not init correctly on first page load"
### Description
when directly accessing the site with a route instead of navigating from the app child route does not get data and params

### Expected outcome

Child route properties should be initialized on first load

### Actual outcome

data and params properties of the child app route should be populated

### Steps to reproduce

using the app created from the toolkit i have a main route in th

[2016-06-09 20:56] neckaros commented on #112
I don't have the issue if i import my child insted of using
this.importHref(this.resolveUrl('my-' + page + '.html'), null, null, true);

[2016-06-11 23:45] fiws opened #113 "Add a route name attribute"
I miss the ability to specify a routename, so that I can route via that and not only URL tokens.
## Example

[code]

[2016-06-14 14:10] JosefJezek commented on #68
@TimvdLippe How to handle invalid subroute? Example route: `localhost:3636/store/amsterdam/invalidpage`

[2016-06-14 14:39] TimvdLippe commented on #68
@JosefJezek Add a `fallback-selection="invalid-category"` on the `paper-listbox` and add `<paper-item data-category="invalid-category">Invalid category</paper-item>`

[2016-06-14 21:42] rictic commented on #111
Thanks for the feedback, and for taking the time to file the bug.

Searching for `hash` in the README and the [article](https://www.polymer-project.org/1.0/blog/routing) gives mentions in each that routing in the hash is optional. My read is that this is documented, but that you just got unlucky in missing / misreading it.

I'd be happy to accept a PR that improved the wording though

[2016-06-14 21:46] rictic commented on #113
My vote would be that this is the sort of feature that would be best added via inheritance once https://github.com/Polymer/polymer/pull/3577 lands

[2016-06-14 22:01] rictic commented on #108
I agree that it should! Fortunately, it does! Here's a demo: https://jsbin.com/wosecuwesa/edit?html,output

All polymer elements fire `${propertyName}-changed` events when their properties are updated. App-location also fires the `location-changed` event on window when it updates window.location, and it listens for this event as well, so that it's easy to interop with other libraries that also do

[2016-06-14 22:14] rictic commented on #109
This appears fixed at head. Take a look at this jsbin: https://jsbin.com/jipeki/1/edit?html,output

[2016-06-14 22:16] rictic commented on #110
This is intentional, as a gambit to reduce invisible dom changes on navigation. Quoting my response from the thread Tim links:

Consider the scenario where we've got three pages: `/user` `/user/:username/profile` and `/watch/:videoId` with `<user-page>` and `<watch-page>` as top level siblings, and `<user-page>` using `tail` to delegate to a `<user-profile-page>`.

When navigating from `/user/alic

[2016-06-14 22:17] rictic commented on #110
It is a bit surprising, but it does give an almost-free performance win. If it does cause a lot of problems for people in practice though we can revisit the decision.

[2016-06-15 05:57] nik3daz opened #117 "app-route recurses when query params have a single quote"
### Description
Having a single quote in a query param causes 'Maximum call stack size exceeded' to be spewed into the console. Other symbols don't seem to exhibit this behavior.

### Expected outcome
app-route is able to handle queries with quotes.

### Actual outcome
![app-route-stack-exceeded](https://cloud.githubusercontent.com/assets/1677402/16069392/703a13ca-3311-11e6-8782-a5098d1869c3.png)

[2016-06-15 20:53] #108 closed

[2016-06-16 03:13] nik3daz opened #118 "'use strict' failing closure compile"
### Description
The 'use strict' line at the top of all app-route elements is causing closure compile failure. This can be fixed by wrapping the entire script so it looks like

[code]

### Steps to reproduce

When attempting to add app-route to a Chromium closure build (e.g chrome/browser/resources/md_history/compiled_resources2.gyp), the closure build fails with
[code]

[2016-06-16 18:50] oneezy opened #119 "<app-seo src="polymer.json"> ... SEO custom element?"
What would it take to do this?

I could imagine a custom element going in and pulling the fragment pages to create "SEO snapshots" from the polymer.json fragments. That might look something like:

<app-seo src="polymer.json">
    <business-app></business-app>
</app-seo>

[2016-06-16 18:58] ebidel commented on #119
I think for starters, it would be cool if app-route had a solution to update page `<meta>` when a new route is navigated too.

[2016-06-16 19:26] AndreasGalster commented on #119
Should this be restrictive with the meta tags like i. e. many people would already be happy with just title and meta description. Or do we want to make it possible to define any meta tag, so probably passing key/value pairs as objects?

[2016-06-16 19:47] oneezy commented on #119
@zacharytamas created the `<page-title>` custom element [seen here](https://customelements.io/zacharytamas/page-title/).

This could be a good starting point.

[2016-06-16 21:04] AndreasGalster commented on #119
I guess syntax could be something like this. Either split it up into seperate elements for title and meta tags, or make it possible to define all relevant meta-data in one element.

The question is whether we'd want this to be included in app-route or if it wouldn't just make sense to have this as a seperate element sitting on the same root as app-location, listening to the path and using somethin

[2016-06-16 22:43] cdata commented on #119
@ebidel Updating page meta is fundamentally orthogonal to the design of the `<app-route>` element. I like @AndreasGalster 's approach of building a separate element that can pair with `<app-route>` to achieve the desired effect. WDYT?

[2016-06-16 22:46] cdata commented on #118
Thanks for reporting, I'll take a look.

[2016-06-16 22:51] rictic commented on #118
I suspect this is caused by combining together JS from multiple files before passing it to the compiler. Is that correct?

It seems like this is a bug in the code that's combining the JS. Do you know what tool it is?

[2016-06-16 23:02] #118 closed

[2016-06-17 16:29] cdata commented on #64
Thanks @TimvdLippe. I'm going to close this until someone suggests it is still a bug.

[2016-06-17 16:29] #64 closed

[2016-06-20 15:12] ebidel commented on #119
s/app-route had a solution/a solution that works with app route

:)

[2016-06-20 16:12] AndreasGalster commented on #119
I think your message got cut off @ebidel . s/app-route? Guess you were linking something?

[2016-06-20 16:16] ebidel commented on #119
Nope, just being to clever. I meant: "app-route had a solution" -> "a solution that works with app route" in my original comment.

[2016-06-21 00:39] AliMD opened #121 "[bug] some styles not work in pages"
I'm not sure but i think this bug related to app-route
Some css not work in pages

example:
in `app-layout-templates` when use a paper-card in child views, some default css not work
in this case elevation styles not generated in router view but it work fine in main app file

![screen shot 2016-06-21 at 5 05 33 am](https://cloud.githubusercontent.com/assets/697913/16214477/fa473858-376d-11e6-87ae-9

[2016-06-21 09:18] abdonrd commented on #121
The problem:
- https://github.com/Polymer/app-drawer-template/issues/19
- https://github.com/Polymer/polymer/issues/3705

[2016-06-21 10:43] AliMD commented on #121
@abdonrd Thank you, it's not related to app-route ?

[2016-06-21 13:43] abdonrd commented on #121
@AliMD no, I think is a Polymer issue. :9

[2016-06-21 18:12] phidias51 opened #122 "Add support for back button / history"
It would be useful if there was built-in support for the back button.

[2016-06-22 18:03] rictic commented on #122
There is! app-route and app-location automatically add entries to the browser's history. You can programmatically go back using native apis like `window.history.back()` and `window.history.go(-1)`.

Docs here: https://developer.mozilla.org/en-US/docs/Web/API/Window/history

[2016-06-22 18:04] #121 closed

[2016-06-22 18:06] rictic commented on #117
This is probably https://github.com/PolymerElements/iron-location/issues/36

[2016-06-24 20:02] arthurevans commented on #122
Note though that you can't _detect_ that it was a back button event, and do something special (like restore scroll position). There's already an issue open for that—#86.

[2016-06-24 22:55] phidias51 commented on #122
Here's what I'd like to be able to do:

- I'd like for back button events (either on mobile or desktop) to automatically trigger **history popstate** events.  This is currently not wired together.
- The current data model for a node in a route seems a little sparse.  I'd like to be able to specify node names.  For example, suppose that we have a "/employee" route.  I'd like to specify that "Employ

[2016-06-25 10:57] TimvdLippe commented on #122
@phidias51 For displaying title based on data-bindings, you can use an element like https://github.com/zacharytamas/page-title/. You could ask that author to also include i18n.

[2016-06-29 02:04] CaptainCodeman commented on #119
I had a go at creating something to help with the SEO / meta-tag updating.

Here's what I came up with (any feedback appreciated):
https://github.com/CaptainCodeman/app-metadata

I tested it out by creating a test site:
http://app-metadata.appspot.com/

This has the metadata set from the element:

[code]

The content shows up in Webmaster Tools (using Fetch as Google) and the meta tags appear in t

[2016-06-30 01:34] rictic commented on #122
Can you clarify your first point? Are you talking about something firing popstate events? Something listening for them?

As for propagating title, my suspicion is that that may in fact be a separate concern from `app-route` and better handled with the `<page-title>` element Tim linked, in a similar way to CaptainCodeman's app-metadata element: https://github.com/CaptainCodeman/app-metadata

The pa

[2016-06-30 01:40] rictic commented on #68
I think it's safe to close this issue, as fallback-selection has proven to be a quite useful solution.

[2016-06-30 01:40] #68 closed

[2016-06-30 14:58] akc42 opened #123 "Tail doesn't reset when shorter route used"
### Description

When nesting app-routes using tail from one route to feed the route of the next, the tail of the route doesn't reset when the path is such that the tail should be null

### Expected outcome

The tail should reset to path="" when no path is represented

### Actual outcome

The tail is left at whatever it was set at before

### Live Demo

https://jsbin.com/gosobuj/edit?html,output

[2016-06-30 15:04] TimvdLippe commented on #123
I think this is a duplicate of #75 which has been merged into #37

[2016-06-30 21:03] akc42 commented on #37
As referenced above I raised this in issue #123.  The real problem is not, to my mind related to trailing slashes or not, it is that fact that stale data is left in tail.  I have several layers of iron-pages selecting between different things, and at each layer down the hierarchy I really want route.page to be passed to my lazy loading behaviour such that I can go `this.page = page || this.homePag

[2016-06-30 21:12] rictic commented on #119
That's awesome! That seems like the right approach to me @CaptainCodeman.

[2016-07-05 18:46] ymaz opened #126 "Question: Who should handle 404 pages?"
Hi, it's not a issue at all, it's more just a questing/best practices manual/discussion.

So, who should handle 404 page in Polymer app, which using `<app-route>` for the routing?

I mean, when user typed something _incorrect_ which is not relevant to any page/view. Which element should be responsible for redirect?

For example, I'm using combo `<app-route>` + `<iron-pages>`. I've spotted that `<i

[2016-07-05 18:55] TimvdLippe commented on #126
In general if a sub-route selector fails to match, the element where the selector is defined should handle the 404. So you can use `fallback-selection` in a selector on a sub-page which probably shows the same 404-page. However, you are not limited to just this page. If you want to display other content, you can too.

[2016-07-05 19:56] ymaz commented on #126
@TimvdLippe, thanks for your opinion.

[2016-07-06 13:28] ymaz commented on #126
@TimvdLippe one more thing, which i didn't get

so, i've have a `my-app` with `<app-route>` for top level views/pages.
Then each view or page has it's own `<app-route>` for sub-pages (second level).
So, on each sub-page element you would like to check if sub-route is matching or not and then somehow redirect for top level `<app-route>` 404 page view?

I like the idea with decentralized routing ite

[2016-07-06 13:33] TimvdLippe commented on #126
@ymaz there are no redirects with the componentized router. Therefore each selector handles the 404 on its own, without notifying its parent.

This allows you to define a specific 404 handler for each case, as you might want to propagate different information to your user depending on the sub-route. E.g. "This user could not be found" on a users page, or a "This setting does not exist" when you ar

[2016-07-06 14:09] ymaz commented on #126
@TimvdLippe

completely agree, thanks for bright idea!

[2016-07-08 17:15] ymaz commented on #126
So, actually right now i'm understand how to make 404 page for top level nav via `<iron-pages>`
but didn't get how to handle this for sub items (second level of nav), how to show for example the same 404 view, if sub-page is not valid(found).

[2016-07-11 11:05] ansarizafar opened #129 "_routePageChanged running twice"
### Browsers Affected

- [x] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ] IE 11
- [ ] IE 10

Here is my code
[code]

[2016-07-14 00:20] intcreatorlds opened #130 "Relative links don't navigate with `app-location` and `use-hash-as-path`"
### Description

When I use the attribute `use-hash-as-path` in `<app-route>`, when relative links are clicked the URL is modified but the page does not navigate.

Using `app-location` and `app-route`:

    <app-location route="{{route}}" use-hash-as-path></app-location>
    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{data}}">
    </app-route>
    <iron-ajax
      id="m

[2016-07-14 13:47] akc42 commented on #109
@rictic The js in you presented above doesn't observe the active property.  That is what is not working correctly.  The jsbin I did for the bug above does.

See http://jsbin.com/cadodu/edit?html,console,output

I presume using Polygit does get you the latest version.

The reason this is a problem is that setting the active property to false is done with the setter in _resetProperties.  whereas set

[2016-07-14 15:29] intcreatorlds commented on #130
I found the solution.  I needed to include `use-hash-as-path` in `<app-location>`, not in a separate `<iron-location>` tag.  It's possible the two were conflicting.  Because `<app-location>` contains an `<iron-location>` element, it is redundant to include both in an element for routing.

[2016-07-14 15:43] #130 closed

[2016-07-14 19:05] stevecrozz commented on #113
@rictic are you saying you think named routes should be not part of app-route? Or that they should be an optional, but still core part and support included here?

[2016-07-14 19:33] rictic commented on #130
It looks like you've tracked this down, but each iron-location and app-location are independent, so any configuration you need for one about the url space would need to be put into all of them.

[2016-07-14 19:35] rictic commented on #129
Can you give more info here? What values of `page` are you seeing, and in what order? How do these values correspond to the URL?

[2016-07-14 19:39] rictic commented on #123
As Tim said. Currently this is a deliberate decision not to update inactive app-route objects so that we don't thrash the dom of invisible elements. This gets us performance at the cost of correctness/unexpectedness. It's a tradeoff we're still actively considering.

At present the intent is that you watch the `active` boolean property on an app-route to react when an app-route no longer matches.

[2016-07-14 19:39] #123 closed

[2016-07-14 19:44] ansarizafar commented on #129
Whenever I click a link, _routePageChanged function is running twice. For example If I click signup link, The page value signup appears twice in console.

[2016-07-14 22:14] akc42 commented on #123
Now I understand all this better I am fine with this, EXCEPT #109 is a problem.  I put an observer directly on the bound active property on my surrounding element and it doesn't fire when going to true.

[2016-07-18 18:02] akc42 commented on #109
Why is this not considered a bug?  Without Active Observer working properly I am going to have another mechanism to trigger by ajax request to get data.

[2016-07-18 18:43] TimvdLippe commented on #109
I think this issue happens when multiple routes are chained and a toproute becomes inactive, is that true? Pullrequest #125 should fix this behavior.

[2016-07-19 06:20] akc42 commented on #109
The jsbin I provide above isn't about chained multiple routes.  I am propagating the complete route down to the sub element, pattern matching it for the specific case and trying to directly observe the active property.  It is fired when going to false, the observer is not fired when transitioning to true.

The reason for that is that inside app-route, reset properties is used to set active false.

[2016-07-19 22:49] akc42 commented on #109
I have been doing some more careful debugging of what is going on within app-route when it does `this.__setMulti`.

The bottom line is that `this._notifyPathUp` fires an active-changed event with the event detail containing a path key of value "active" and a value key.  The proper setter for active fires an active changed event where only the detail object has a single key of "value." and NO path

[2016-07-19 23:34] akc42 commented on #109
As a quick and dirty fix the following update to `this.__setMulti` seems to work.  I am not sure yet whether it would be worth turning this into a pull request.

[code]

[2016-07-20 08:26] hamzaislam opened #131 "window.location.href not triggering routepagechanged"
Using an anchor tag in my page and clicking on it changes the url which in turn triggers the route changed observer function. Where anchor href is "mypath"

Using this.set(route.path, "mypath"); works too

Doing the same thing using window.location.href = "mypath" doesnt work and i get a navigated to mypath message in my console and eventually a 404.

Sorry if not much samples yet typing this from

[2016-07-21 03:22] rictic commented on #131
This is intended. We don't want to intercept any browser APIs if there is an existing and supported way in the web platform to do something. To navigate to "mypath" from javascript simply do:

[code]

The first line updates the URL and the second sends an event letting interested observers know. (There is no specced event for a URL update like this, so we just use `location-changed`).

Philosophic

[2016-07-21 03:22] #131 closed

[2016-07-21 22:41] kbenjamin commented on #99
+1 - Ran into this today.

[2016-07-22 02:14] JGSolutions opened #133 "Question: FirebaseAuth & App-Route"
I need to authenticate certain pages in an app and I am not sure how to do this with firebase-auth.

What I need to do is wait until initial response from firebase-auth then execute the app-route depending if there is an authenticated object.

[2016-07-22 06:20] jenishngl opened #134 "Question: App navigation using app-route and neon-animated-pages"
### Description

Problem while navigating within app

I am using `app-route` along with `neon-animated-pages` for app navigation
Now I have a link like `http://domain/` and then I navigate to
`http://domain/view1` and then to `http://domain/view1/user`
### Expected outcome

Now when I click on back button in the browser, it should take me to `http://domain/view1`
### Actual outcome

But it takes w

[2016-07-23 03:40] rictic commented on #117
The fix is landing soon! Sorry for the delay. Testing Safari is always an adventure.

[2016-07-24 13:36] ansarizafar commented on #133
Is there any recommended solution from Polymer team?

[2016-07-24 13:38] ansarizafar commented on #81
Its a must have feature. Why there is no response from Polymer team?

[2016-07-24 13:42] TimvdLippe commented on #133
You can write a custom wrapper/deocrator to achieve this. This decorator takes as argument the auth object. Inside the decorator you define a domif that stamps its content. E.g.
[code]

(I am not a member of the Polymer team)

[2016-07-25 19:24] JGSolutions commented on #133
@TimvdLippe Thanks for the response.

The issue is when you refresh the app which firebase auth execution is asynchronous so the auth argument will be empty then eventually the auth will contain an object if the user is authenticated.

But in the meantime when the auth is empty how do i handle this?

[2016-07-25 19:27] TimvdLippe commented on #133
In that case the computed method has not been triggered yet. Therefore the dom-if will not stamp the content and nothing is shown on screen. You can add another dom-if with the negated value, which shows a placeholder. An example of this approach is here: https://github.com/AreaFiftyLAN/lancie-frontend/blob/master/app/elements/lancie-login/lancie-login-check.html

[2016-07-25 19:40] JGSolutions commented on #133
ok thanks...i will try this for sure :)

[2016-07-26 10:17] akc42 commented on #81
@ansarizafar I have an app which requires authentication before the user can proceed.  I handle that case at the top level by having an app element which contains a session element and a pages element.  I use app-route only inside the pages element, and instead use simple lhidden attributes and observer on a shared "user" object to control which is visible.  The session element is responsible for

[2016-07-26 17:34] ansarizafar commented on #81
@akc42 Could you please share some code.

[2016-07-27 00:15] akc42 commented on #81
@ansarizafar
A bit difficult because its a private project for a customer, but I can give you a flavor by giving you parts of my-app, my-session and my-pages elements.  I don't have a public repository that I can point you at.  I hope this is enough to demonstrate how to do

The main app, based around the app-header-layout element

[code]

Part of the session.  I leave out the logon form, but you

[2016-07-27 03:25] ansarizafar commented on #81
@akc42 Thanks for the code. I am also using a similar session element for token based authentication with my own Graphql inspired backend data layer (Restful RPCs) I am curious why you are not using custom event for user logged-In status notification. I am trying to implement role based guards for different routes. I am currently using _routePageChanged but unable to find a way to cancel this even

[2016-07-27 06:09] akc42 commented on #81
@ansarizafar I am not using custom events because I don't need to.  The approach is just the standard "Mediator Pattern" that was spoken about at the 2015 Polymer Summit.  That fact is that the way the session notifies the app about "user" is a custom event ("user-changed") is behind the scenes. It is interesting to note that there is discussion in the Polymer repository about replacing the notify

[2016-07-27 06:29] ansarizafar commented on #81
@akc42  Thanks for the explanation. It makes perfect sense.

[2016-07-29 19:28] JanGunzenhauser commented on #129
It is running twice because it changes twice, because a click on e.g. /signup link triggers
1. a select of name="signup" in selected="{{routeData.page}}", because of two-way-binding
2. a path change because of its href

Try using a one-way-binding like you do on the animated pages.

[2016-07-30 00:13] chrismbeckett commented on #68
I am using the <app-route> element (not <carbon-route> as noted above), but fallback-selection is only working on the top-level app element. If I have a nested <app-route> in a sub-page, the fallback-selection is working, but it is not updating the URL.

[2016-07-30 00:20] chrismbeckett commented on #126
I am struggling with the same issue. In my top level app element, I have <app-route> with <iron-pages> and am using fallback-selector. If the section is missing or invalid, it selects account and updates the url.

*pk-app.html*
[code]
I am passing in the route tail to the child elements where I also have an <app-route> with <iron-pages> and am using fallback-selector. In the nested element however

[2016-07-30 15:19] inyigo commented on #134
Also happening in Safari 9

[2016-07-31 14:18] rictic commented on #134
This is controlled by iron-location's dwellTime property: https://elements.polymer-project.org/elements/iron-location

The logic is that *typically* any state that the user wasn't on long enough to mentally register shouldn't be a part of their history. This is intended to prevent accidental history flooding, which can make history useless for the user.

I'm just now noticing that we don't actuall

[2016-07-31 14:22] rictic commented on #126
Can you give a demo of this failure with nested app-routes and iron-pages @chrismbeckett? Here's a jsbin to start: https://jsbin.com/hirore/edit?html,output

The issue with them stomping all over each other shouldn't happen unless different routable components each mutually believe that the others' urls are unacceptable.

[2016-07-31 14:24] #133 closed

[2016-07-31 14:27] TimvdLippe commented on #126
Little reminder for myself: to have 1 entry point for handling 403's we could fire an event in iron-selector when a fallback-selection is triggered. You can listen for this event in your app element and handle it there. WDYT?

[2016-08-01 11:05] pkgulati opened #136 "using some links to load page from server side and few from client side"
Some of links in application needs to load page from server side.  Currently iron location will always do prevent default, irrespective of whether some app-route matches the pattern or not.

[2016-08-01 11:13] pkgulati commented on #136
found url-space-regex attribute to app-location (iron-location)

[2016-08-01 11:13] #136 closed

[2016-08-01 13:49] ppalladino opened #137 "data and tail not reset in app-route's __resetProperties call"
### Description

app-route's 'data' and 'tail' properties are not reset in the __resetProperties call. If a route path is updated shouldn't the data and tail be reevaluated as well? Looks like their reset was commented out in the current version. What was the reason for commenting this out?

### Expected outcome

Data and tail should be revaluated on reset
### Actual outcome

### Live Demo

### St

[2016-08-01 15:12] zinkkrysty commented on #137
Looks like it's commented in the tests as well, without any particular reason:
https://github.com/PolymerElements/app-route/blob/master/test/app-route.html#L131

I would expect it to be the normal behavior to reset the data, otherwise any binding to both the data and the active property will trigger twice - making it impossible to change the views.

[2016-08-01 15:21] ppalladino commented on #137
I am sure there was a good reason to comment this out, I am just curious why? And maybe if I can help fix it. @zinkkrysty Yes you are right, I was having issues with bindings to data having old values when they should be blank.

[2016-08-01 21:54] rictic commented on #117
Fix landed upstream last week with iron-location v0.8.6

[2016-08-01 21:54] #117 closed

[2016-08-01 22:08] rictic commented on #137
As you've surmised we do have a justification for this. The principle behind this is that an inactive app-route should be as inert as possible, and not issue updates to its properties. We do this because inactive app-routes are typically mapped into hidden parts of the dom (because other dom is now visible, e.g. through iron-pages). It's unexpected and wasteful for the invisible parts of the dom t

[2016-08-01 22:08] #137 closed

[2016-08-02 11:11] ppalladino commented on #137
Ah! Understood. Any suggestions on how to handle this case:

1. 3 nested app-routes A, B and C (primary, secondary and tertiary nav). Each is fed their parent's tail.
1. Initial path /a1/b1/c1 matches patterns on each app-route so
   - A.data.foo = a1
   - B.data.foo = b1
   - C.data.foo = c1
1. we navigate to /a1/b2 (notice we left out c*) and the updated data is:
   - A.data.foo = a1
   - B.data

[2016-08-03 02:04] johnlim commented on #112
I'm encountering the same issue albeit a different workflow. I created an issue in PSK but it's probably best to track it here. https://github.com/PolymerElements/polymer-starter-kit/issues/888

[2016-08-03 07:38] zinkkrysty commented on #137
@ppalladino I solved this situation by creating a listener for both the data change and the active property like so:

[code]

[code]

The problem I have with this solution is that for some reason the `routeDataChanged` is triggered many times (more than it's necessary) when a child route becomes inactive. It might be a bug, where the change notification gets fired, even if there is no change in th

[2016-08-03 11:45] ppalladino commented on #137
@zinkkrysty Yup. This is the approach I took as well. I guess my main issue is that the view component needs to handle state and logic to determine if C.data.foo value is outdated data that has not been reset or accurate data from a new incoming path. I would like to see app-route handle that, as that it is its job to handle route state. Would it not be desirable to keep view components as statele

[2016-08-03 14:34] joaovieira commented on #89
Just bumped into this and the inconsistency is bothering me.

I agree with @TimvdLippe that, on the root that is the intended behaviour as all the frameworks do. I.e.(using the example above by @jorgecasar):
* `http://localhost` and `http://localhost/`: both should match (`isActive === true`) and `patternData` should yield `{pattern: ''}`

But how is this different for nested routes? I would expec

[2016-08-08 15:59] superjose commented on #89
I'm having this exact same issue and is driving me crazy. I can't be polluting my nested routes like that. I could potentially forget about one . Is it possible to do a regex inside the "pattern"? That way we could always do: \/?:pattern

[2016-08-09 16:02] chrismbeckett commented on #126
@TimvdLippe The Iron-Selector has the ``iron-activate`` event that is supposed to support aborting a selection. The fix for multiple nexted iron-pages blocks with fallback selectors would be to wire up the ``iron-activate`` event and abort if the root segement current doesn't match you sub-route. This didn't work for me - the ``iron-activate`` was not firing for fallback selectors. I think simply

[2016-08-09 18:47] TimvdLippe commented on #126
I have created a new pull request on `iron-selector` to facilitate a monolithic router structure regarding 404 handling here: https://github.com/PolymerElements/iron-selector/pull/137

An example usage of this event can be found in this diff: https://github.com/TimvdLippe/polymer-lazy-application/compare/monolithic-router?expand=1#diff-8177f8e50fd6fc8e66434f5c76f38d98R45
Here you can listen for th

[2016-08-18 08:38] akc42 commented on #131
@ritic I just found that the little snippet doesn't work properly.  I think you gave it to me elsewhere in the issues but I can't find it.  However,  I was using the above snippet to switch my path and it wasn't switching.  I think its because it needs a micro.tick to update window.location.pathname. and iron-location (which handles this event) seems to receive the value before the new value has b

[2016-08-18 11:40] rictic commented on #131
Hm. The iron-location must have been attached to the document and had its `attached` method run. Once that has happened then the `this.async` isn't necessary.

To double check this, try it out on the demo page here: https://elements.polymer-project.org/mypath

When I paste this into the chrome devtools both the url bar and the paper input change to reflect the new path:

[code]

You can also try t

[2016-08-23 10:35] panuhorsmalahti opened #141 "Remove extra files from the bower package"
The bower package currently contains extra files, e.g. the demo and test folders. These should be removed from the package.

[2016-09-14 22:49] SilverPaladin opened #143 "No closing element for flickr-image-page on line 46 of flickr-search-demo.html"
On line 46 of the following page `https://github.com/PolymerElements/app-route/blob/master/demo/data-loading-demo/flickr-search-demo.html` there should be a closing tag `</flickr-image-page>` instead there is a closing tag `</flickr-search-page>`

[2016-09-14 23:09] rictic commented on #143
Oh, good catch! Want to send a PR to fix? 😀

[2016-09-15 16:08] bwh-rl opened #144 "Feature request - Add event app-route-changed or app-route-match?"
Hi,

It may would be useful to get an event fired when the route was changed and the pattern matches.
Listen to activate-changed is not really an alternative, cause it only fires on first pattern match, not if an new route matches the same pattern.
It would be a more direct alternative to the routeData observers.

[2016-09-17 19:17] maisnamraju commented on #79
I'm also suffering from the same issue, would like your feedback on how to overcome such an issues, I have decided to use the solution @ronnyroeller has suggested.

[2016-09-18 16:40] akc42 commented on #109
Whats happening with this.  I provided a pull request some while ago, but nothing has been done with it.  I am still running my own code with the patched up version, but I would like to avoid having to do so

[2016-09-20 10:45] bwh-rl commented on #144
If the routing is more complex and more than one pattern needs to be matched, listen to changes via observers would be far more complex than listen to events.

[2016-09-21 19:12] rictic commented on #143
Fixed in #145

[2016-09-21 19:12] #143 closed

[2016-09-22 07:11] akc42 opened #147 "Downstream active flag not being reset when route no longer applies"
I have a fairly complex set of routes which I am trying to figure out a way to handle with app route.  The more I get into it the more I am finding some limitations.  The problem arises from the decision to **not** alter tail data when the route is no longer selected.  I respect that decision, but it has one knock on effect that is causing me problems, namely that the app-route element two down fr

[2016-09-22 07:13] TimvdLippe commented on #147
I think this is a duplicate of #110 which is fixed in #125

[2016-09-22 07:32] akc42 commented on #147
@TimvdLippe I think it might be.  I'm out today, so haven't got much time, but I'll take a look at the pull request when I'm back to see if it solves my issue.

[2016-09-22 16:09] akc42 commented on #147
I am now more confused about whether I am asking the right question.  I ran the fix in #125 against my test harness and its still not working.  However I now realize why.. My top level `<app-route>` has a  pattern of `/:page`  I feed the tail for this into several `<app-route>` elements representing different parts of the app (in the test harness they are the options of an `<iron-selector>`, drive

[2016-09-23 07:44] akc42 commented on #147
I have done some more work on fixing the issue raised in my previous comment, and although #125 fixes some of the problem there is still an issue with the attempt to set multiple properties at the same time.

Firstly - the patterns issue I raised in the last comment.  The solution to this problem is to break up the chains, restarting them one step back when its a page lookup.  So my pattern chains

[2016-09-23 07:44] #147 closed

[2016-09-23 08:20] akc42 opened #148 "app-route should set active property AFTER setting data in place"
app-route has a mechanism built into it to attempt to set all the property updates that have to take place at the same time. - it attempts to do this by separately setting the value and then notifying the change.  Actually there is a bug in the current implementation as raised in #109 and fixed by pull request #132.  But even this is insufficient.

Although app-route's properties may all be update

[2016-09-23 17:37] akc42 commented on #148
I see Polymer 2.0 should have proper multi property updates.  However I notice the 2.0 preview branch of app-route appears to set the active property before the other properties.  This worries me for the reasons explained above.

[2016-09-27 22:13] akc42 opened #149 "Query Parameter Changes that occur simultaneously with path changes not propagated at the same time"
### Description
When a url changes such that there is a path change and a change of query-parameters, the path, without the query parameters gets propagated around the `app-route` network of elements and then in a second phase the updated query-params get propagated.

The net result is a observer function looking at changes to the route, doesn't see the correct query parameters when running with t

[2016-09-28 06:13] akc42 commented on #149
I was wrong about the root cause of this issue.  The real culprit is iron location which has a method:-

[code]

The very fact that `this.path` is set before `this.query` is the problem. as the first setting of `this.path` is what propagates the changes without the query value.

A solution might be to change the order of these two settings - although this would then propagate the queryParams chang

[2016-09-28 09:51] #87 closed

[2016-09-28 16:42] andrewspy opened #150 "Question: How to use app-route to redirect path (i.e. upon successful sign-in)"
What's the best way to use `app-route`/`app-location` to redirect to different path? Shall I just use `window.location` directly? i.e. `firebase-auth` code below:-

[code]

[2016-09-28 19:31] TimvdLippe commented on #150
I prefer to use a simple wrapper which does the check. In your `iron-pages` use something like

[code]

And `login-check` is a wrapper which does:

[code]

This makes routing composable without redirecting 😄

[2016-09-29 16:45] andrewspy commented on #150
Shouldn't `app-route` provide a API for redirection? or is it not advisable to have a redirection in SPA?

[2016-09-29 16:51] TimvdLippe commented on #150
I would personally advise against redirection. It was an old pattern ot MPA since these would not know what to do, but in a SPA you actually know what to do and do not want to punish a user with a redirect. It is costly for no benefit :)

[2016-09-29 17:13] akc42 commented on #150
I solve this issue by having two elements below `<my-app>` - A bit like so

[code]
That way any logging in is outside of the url structure.  My rationale is that the real reason for having a router is to expose urls to the user, who might use them copy and paste to someone else to access a particular part of the application.  If that some else is not logged in, then I want them to be able to do th

[2016-10-03 16:26] abdonrd opened #154 "Document app-route queryParams property"
At Polymer Catalog:

https://elements.polymer-project.org/elements/app-route#property-queryParams

The <app-route> queryParams property hasn't any documentation:

<img width="509" alt="screen shot 2016-10-03 at 18 25 32" src="https://cloud.githubusercontent.com/assets/1007051/19044978/dfd8ddf2-8996-11e6-81a0-459cb1a27734.png">

[2016-10-04 03:57] andrewspy commented on #150
I understand the part on using a composable  element for login, but there are instances where the  web app needs to be redirected to different section/part of the app to make it more user friendly, and it would be great to have an API for that purpose. Shall this be a feature request?

[2016-10-04 06:40] akc42 commented on #150
You can easily switch path to a completely different url by doing the following

[code]

I generally do the above when its in a way different part of the tree, or I adjust my `route.path` for local changes.  If I need to know the return address, I normally write it into a `return` query parameter.

[2016-10-05 06:05] andrewspy commented on #150
@akc42 I am new to javascript's promise, does it mean that there is no way to access `route.path` inside the promise returned by `signInWithPopup()`?

[2016-10-05 06:25] andrewspy commented on #150
@ack42 I managed to do the following:-

[code]

I shall close the issue. Thanks!

[2016-10-05 06:25] #150 closed

[2016-10-05 12:51] akc42 commented on #149
Sadly I have come to the conclusion that its a design issue that isn't going to go away.  I have ended up making my own pair of elements `<akc-location>` and `<akc-route>` in my own github account that approximate to `<app-location>` and `<app-route>`   But which solve these issues by carrying all the data around in the `route` object.  See https://github.com/akc42/akc-route

[2016-10-06 20:52] bedeoverend commented on #137
This one tripped me up as well, took quite awhile to figure out what was going on, perhaps just needs more obvious documentation around what will happen when it fails to match a pattern?

Also what about if you could define optional params in the pattern e.g. `/:resource?`. That way the route knows it should update `data` in the case when it's not matched, so `data.resource` will be `''` empty on

[2016-10-09 03:26] SPAHI4 opened #155 "Nested routing"
My structure

App page
[code]

foo page
[code]

bar page
[code]

Problem:

Redirect from ```/bar/some-url``` to ```/bar/not-found``` because of ```fallback-selection``` in foo-page

[2016-10-22 04:49] usergenic commented on #113
Another possibility would be to leverage the `data-*` attribute namespace to match-append values on the resulting data object.  This would solve the name case as in:
[code]

The advantage here is that you don't have to map routes to specific unique names, but can map them in a multi-faceted way in case a single string doesn't work.  For example:
[code]

I like the way the `data-` attributes semant

[2016-10-26 11:56] hamzaislam opened #156 "Question: How to intercept a refresh of page using F5 or manual change to URL bar"
I'd like to understand how to intercept a manual change to URL on the URL bar or even a refresh of the page using the browser refresh functionality.

Doing that reloads the whole application again and hence those events aren't intercepted

[2016-11-02 05:35] aarondrabeck commented on #109
+1

[2016-11-03 22:18] cherukumilli commented on #109
@rictic
Any comments on @akc42 pull request?

[2016-11-08 16:25] rictic commented on #109
/cc @e111077 and @cdata the new maintainers of this repo

[2016-11-08 20:06] e111077 commented on #109
fixed by #132

[2016-11-08 20:06] #109 closed

[2016-11-10 08:13] n4ttila opened #157 "Infinite loop with version 0.9.3"
### Description

The 0.9.3 'app-route' generates infinite loop. (0.9.2. worked fine)

Code example:

    <app-location route="{{route}}" use-hash-as-path></app-location>
    <app-route route="{{route}}" pattern="/:page" data="{{routeData}}"></app-route>

![app-route issue](https://cloud.githubusercontent.com/assets/22800786/20169004/b4f91eda-a72d-11e6-9e69-b0d61bbf90fc.png)

[2016-11-10 23:44] joryphillips commented on #157
Not sure if related, but I'm seeing this in 0.9.2 when a single quote mark (%27) gets added to queryParams.

[2016-11-15 01:22] mercmobily commented on #37
@akc42 I am having the exact same issue: stale paths are left over in the route's tail because there is no match without the trailing slash...

[2016-11-15 07:32] mercmobily opened #158 "Active is true when it _really_ should be in this super-simple use case"
This is a simple use-case for app-route and app-location.
To replicate it, just `polymer init` an app called `pp` and copy over `pp-app.html` with this:

    <link rel="import" href="../../bower_components/polymer/polymer.html">

    <link rel="import" href="../../bower_components/app-route/app-route.html">
    <link rel="import" href="../../bower_components/app-route/app-location.html">

    <dom

[2016-11-15 07:42] TimvdLippe commented on #158
This should be fixed in #125

[2016-11-15 08:50] butterandfly commented on #157
I got this too, but the version of app-route is 0.9.2. My chrome's version is 54.

[2016-11-27 15:23] davidmaxwaterman opened #159 "typo: window.location.{push,replace}State"
### Description
Typo in README.md. `push` and `replace` are actually on `window.history`, as indicated in the example code that follows it.

[2016-11-28 21:13] OvermindDL1 commented on #158
Same issue, #125 is not yet merged so this issue still exists.

[2016-11-29 09:41] davidmaxwaterman opened #161 "back button doesn't work with hash routing with empty route"
### Description
I'm using the starter kit and added the `use-hash-as-path` option to the app-location element to make it use hash routing. Unfortunately, the back button doesn't seem to work properly...

### Expected outcome
back button works as usual

### Actual outcome
using back button changes the url but doesn't cause the page to go back to the previous if previous was empty route

### Steps t

[2016-11-29 15:37] vorcigernix commented on #161
route.path is ""? How about adding path observer like:

`
      observers: ['_pathChanged(route.path)'],
      _pathChanged: function() {
        this.async(function() {
          if (!this.route.path) {
            this.set('route.path', '/#/view1');
          }
        });
      },
`

[2016-12-01 02:32] robrez commented on #149
I'm having a problem getting correct query-params values behavior from nested app-routes...

This works fine:
[code]

In my case, the 2nd route element is in a composed child element...
[code]

In the broken case, queryParams ends up being a stale value...

If I modify the overall structure such that the `x-app` element passes `queryParams` into the `x-foobar` child as a property, then everything

[2016-12-01 22:42] keanulee opened #162 "Infinite loop when query params contain a single quote (')"
### Description
When you set a query parameter to a string that contains a single quote (`'`) through the `queryParams` property, `app-location` goes in an infinite loop (Maximum call stack size exceeded).

### Expected outcome
No infinite loop

### Actual outcome
Infinite loop

### Live Demo
http://jsbin.com/zaworad/edit?html,output

### Steps to reproduce
Open the console on the JSBin output and

[2016-12-01 22:43] keanulee commented on #162
Also mentioned in this comment:
https://github.com/PolymerElements/app-route/issues/157#issuecomment-259841462

[2016-12-04 12:54] mercmobily opened #164 "Routing satisfied in two different sub-pages"
I have this in `my-app.html`:

      <app-location route="{{route}}"></app-location>
      <app-route route="{{route}}" pattern="/:page" data="{{routeData}}" tail="{{subRoute}}"></app-route>

It's a fairly standard routing.

One of the sub-pages `my-gigs.html`, which is loaded dynamically (ala PSK) and contains:

        <iron-pages id="pageSelector" role="main" selected="[[page]]" attr-for-select

[2016-12-04 13:08] mercmobily commented on #164
Ad the moment I am "solving" this by having a check in `my-gig.html`:

             <iron-ajax
                id="ajax"
                auto
                url="{{_makeUrl(routeDataGig.gigId)}}"
                handle-as="json"
                debounce-duration="300"
                last-response="{{response}}"

And then:

      _makeUrlIfNotInfo: function(gigId) {
        if( this.route.prefix

[2016-12-04 13:40] TimvdLippe commented on #164
I have encountered this issue as well and maybe we can implement the solution in `iron-pages`: What if we add a new property `attribute-selected-value` that is the value to be set for the `attribute-selected` on the selected items. Therefore you can do

[code]

This is less code to write and fixes your issue.

@bicknellr would you accept a pullrequest that implements the behavior described above?

[2016-12-04 20:04] akc42 commented on #164
After discovering several issues with app-route, this being one of them I ended up implementing an  alternative.  I am not particularly promoting this here, but you can find it on my github account if interested (`akc-route`).  What is worth mentioning is that I implemented an additional parameter `ifMatched` which takes two strings colon separated.  The left string is the parameter name and the r

[2016-12-05 00:40] mercmobily commented on #164
@TimvdLippe Are you proposing the behaviour purely so that you can save the one line:

    route="{{subRoute}}"

...? How would it fix my issue in terms of stopping `my-gig` from thinking that the route was matched...?
Maybe I am missing something...

@akc42 I really do see the point of your module. However, I looked at Polymer 2, and I saw that they finally implemented atomic changes to multiple

[2016-12-05 11:50] TimvdLippe commented on #164
@mercmobily Since `selected-attribute` is only set on the currently selected item (in your case a page), this means that when a page is not active, it's `selected-attribute` will be `{}`. When a page is active, it will be `subRoute`

[2016-12-05 17:44] mercmobily commented on #164
Ah, I had totally missed it, good point!

On 5 December 2016 at 19:51, Tim van der Lippe <notifications@github.com>
wrote:

[2016-12-05 20:01] #159 closed

[2016-12-07 19:45] ergo opened #165 "Can __queryParams become public?"
Hello,

I'm dispatching some events in form of:
[code]

Now I'm receiving them in my top level document:

[code]

However double underscores don't give confidence if this API should be accessed by me at all. Can we get some confirmation if it will be safe for us to use?

[2016-12-08 10:22] akc42 commented on #165
@ergo A safe way to change path is to do the following

[code]

This is push the new url and then dispatch the `location-changed` event.  `<iron-location>` and then in turn `<app-location>` see that and respond - setting up the route for `<app-route>`.  I have this function in a behaviour which gets included in many elements.  It doesn't need any centralised management (`<iron-location>` is in eff

[2016-12-08 10:52] abdonrd commented on #165
Maybe this? https://github.com/PolymerElements/app-route/issues/154

[2016-12-09 09:50] JosefJezek commented on #164
Use Conditional templates instead of `iron-pages'

https://www.polymer-project.org/1.0/docs/devguide/templates#dom-if

[code]

[code]

[2016-12-09 18:09] davidmaxwaterman commented on #161
I managed to get it working how I want - it went something like this :

[code]

The key to me figuring out what was going on was that `this.page` has nothing to do with the routing, and only serves to load the view elements. I'm not sure why it can't be a simple private method called '_loadView(view)' or something, but perhaps there's something more in the original code. In any case, setting `this

[2016-12-10 01:08] kshep92 commented on #129
Running a similar example and with the only two-way binding being the `{{route}}` property the observer fires twice when using hash URLs.

[code]

[2016-12-10 01:58] kshep92 commented on #129
Here's a more complete example. Switched to traditional no-hash routing as well and still getting the observer running twice. My workaround was to listen for the `window.location-changed` event fired by app-location.

[code]

[2016-12-10 15:35] virusakos commented on #129
This is happening in Safari as well (and I suppose in all browsers).

Steps to replicate:
1) polymer init with starter-kit
2) Add console.log('_routePageChanged | page = ', page); in _routePageChanged: function(page) in my-app.html

Open Safari, show web inspector and you will immediately see:
[code]
Navigate to view2:
[code]
etc

[2016-12-14 03:15] mercmobily commented on #164
@JosefJezek OK OK it *works* but still...

[2016-12-14 03:17] mercmobily commented on #164
Actually, this was pretty much all user talk... what do Polymer developers think about this one? Will this be addressed in P2.0?

[2016-12-15 11:29] abridger commented on #129
Not sure if this is the right strategy, but we had this problem and it was hugely affecting our page tracking. Our `_viewChanged` observer now wraps a debounce method to collapse multiple requests, which seems to have resolved the problem.

[code]

[2016-12-15 14:58] jfrazzano commented on #129
This might be incredibly naive, but our response when having similar issues since August was to just take control of the navigator

Store data pieces or at least enough to represent last set of changes and let the data from us, user state, level etc sort of merge into an address

I don't think that what was intended here but there is a lot of memory available In the mac and rewrite back history

S

[2016-12-17 06:52] evilj0e commented on #56
It's awfull way, but you can do something like that:
[code]

[2016-12-19 09:22] pi4n0zik opened #168 "route is active even if data is "undef""
### Description
The `app-route` `active` state is true even if the parametrized data is empty.

Imagine those two routes
*Route 1* `<app-route** pattern="/category"></app-route>`
*Route 2* `<app-route pattern="/category/:id"></app-route>`

If the url is `http://example.com/category`, then the *Route 1* is active
If the url is `http://example.com/category/1` or even `http://example.com/category/`,

[2016-12-19 10:43] TimvdLippe commented on #168
@pi4n0zik Matching on an empty string is required for matching a home page. E.g. `mywebsite.com/` with pattern `/:page` should then have `page === ''` to be able to show a home page.

[2016-12-19 16:27] pi4n0zik commented on #168
@TimvdLippe that's correct. However, you can still define a route `<app-route pattern="/"></app-route>` which matches the home page and another route `<app-route pattern="/:page"></app-route>` to manage the others.

I need this behavior because I built a kind of a router which fires a `"route-active" event` with the route/view `id` so my `my-app element` can activate the right view.

Thanks for yo

[2016-12-20 17:07] TomK opened #170 "bower update with #2.0-preview fails due to missing polymer branch"
app-route `2.0-preview` depends on polymer branch `2.0-data-updates`, but that branch was deleted when Polymer/polymer#4221 was merged.

A PR to update dependency back to `2.0-preview` is here https://github.com/PolymerElements/app-route/pull/169

[2016-12-20 17:12] TomK commented on #170
@e111077 I saw you originally specified the data updates branch here https://github.com/PolymerElements/app-route/commit/57f5868f483cd56c1492409c978065610d3ac273. Would you mind taking a look at this PR please?

[2016-12-20 20:25] e111077 commented on #170
I flubbed the commit message but here it is https://github.com/PolymerElements/app-route/commit/dafcc0aa78407483ea10e66005029a6382d2dcca

[2016-12-20 20:25] #170 closed

[2016-12-24 14:11] mercmobily commented on #164
This problem was driving absolutely bonkers. Every page had to _constantly_ check if the first URL parameter was there because another page was simply being displayed. JosefJezek only really worked if I restamped everything all the time -- which also wasn't acceptable.

The real problem is that _passing `subRoute` itself is a mistake_. `subRoute` is treated as a legit route by the "child" page, bu

[2016-12-24 14:12] mercmobily commented on #164
@arthurevans Please check with the guys that what I wrote makes sense, and if it's worthwhile documenting this. I think it's a biggie, as I had endless problems with routing before this solution, and I think it's a very very common use case.

[2017-01-03 02:12] mercmobily commented on #164
Cancel that.
I made a fundamental mistake:

    this.set( 'subRoutePage.' + this.page, this.subRoute );

This is _bad_ news, because it will mean that the sub-page's own `route` object will be the _same_ (same reference) as the app's `subRoute`, which will lead to many hours wasting debugging things. So much for "elegant".

What I ended up doing is a hack that cannot possibly be considered a patte

[2017-01-03 12:29] TimvdLippe commented on #164
@mercmobily 	multiple parameters would just pass an object with a field `subRoute` containing the value of `subRoute`. E.g. something like `selected-attribute-value="[[_createObject(subRoute, other)]]"` and

[code]

[2017-01-03 13:35] mercmobily commented on #164
Ah true. Always one step ahead @TimvdLippe  :D I see your point. It's just one of those problems where you keep thinking "there's gonna HAVE TO be a better, easier solution"...
But I am starting to think that there isn't. The main problem is that `subRoute` (or `tail`) shouldn't be shared amongst page, and your solution is probably the neatest one available (and frankly it isn't _that_ neat, but i

[2017-01-12 00:59] #162 closed

[2017-01-17 11:49] mkropf opened #173 "app-location fires 'route-changed' event twice on a single route change"
### Description
Example usage:

    <dom-module id="client-component">
      <template>
        <app-location id="loc" route="{{_route}}" use-hash-as-path></app-location>
        <p><a href="#test">test</a></p>
      </template>
      <script>
        window.addEventListener('WebComponentsReady',function(){Polymer({
          is: 'client-component',
          ready: function(){
            this.$.

[2017-01-18 10:53] derhuebiii commented on #156
This should refer to https://github.com/PolymerElements/app-route/issues/112

[2017-01-18 10:54] derhuebiii commented on #112
Having the same problem and no solution yet. It seems like the observers in `app-route-converter-behavior` are not firing to update the route, as there is no `_locationChanged`. Is there a way to fire this manually when the site is loading? Or any other workaround or solution?

[2017-01-18 20:38] vinerz commented on #37
As @rictic asked, I'm about two hours already trying to figure out how to deal with the differences between

`/forgot`
and
`/forgot/`

That's because `/forgot` has its internal router getting the tail of the root element, and even if I force the URL update by firing a `this.set('routeData.subView', 'begin');`, which is the default and home page of this element, I am not able to bubble it to the ro

[2017-01-20 15:30] JosefJezek commented on #164
@mercmobily I am using Conditional templates for security reason and low memory using.

[2017-01-23 11:54] daniele-orlando commented on #129
What's the status of the fix for this bug? I can still reproduce it on Google Chrome.

[2017-01-24 22:43] esd100 commented on #133
I am wondering about this as well. Is there an official Polymer recommendation?

[2017-01-26 11:33] dwalker0044 opened #178 "Two data change events when app-routes chained."
### Description
Chaining two app routes causes the second to fire two data change events when the route changes.

### Expected outcome

Should only fire once.

### Actual outcome

Fires twice.

### Example code

[code]

### Steps to reproduce

1. Load the above example (consists of a page with a button that sets the route).
2. Open developer tools and open the console.
3. Clear any output and then

[2017-01-26 11:43] jfrazzano commented on #178
I don’t have an answer, just another related question… In the a link from the dev site on css triggers, the cite is using a modular routing, sans hash to paint segments of the page.  The code is twitter code, and same design code is in a polymer pen on github.  Anyone know how to route like this site: https://csstriggers.com/background-blend-mode <https://csstriggers.com/background-blend-mode>   c

[2017-01-26 11:48] dwalker0044 commented on #178
@jfrazzano probably best not to ask that kind of a question in the middle of a bug report. You might have more success in the [polymer slack channel](https://polymer.slack.com/messages/general/)

[2017-01-26 11:49] jfrazzano commented on #178
Sorry.  Have just been curious for days.

[2017-01-27 19:16] michaelriezler opened #179 "data does not reset when path is empty"
### Description

I basically have the same set up like this, but with the subroute inside another page.
[code]

I wanted to show an overview page of items when there is no id present and a detailed view when I click on an item.

### Expected outcome
[code]

### Actual outcome
[code]

### Question
I was looking at the source code and saw that when you reset the properties of the element, that you h

[2017-01-30 16:00] eitch commented on #96
I don't know if this is a bad use-case, but my use-case is that i use app-route in iron-pages and currently this works nice as the page never reloads when i navigate. Now if i want to use the hash and change the hash, then the whole page is reloaded in the browser, thus this would be a use-case where i would like the query to come from the hash after the actual path.

I hope this makes sense.

[2017-02-03 16:00] ronnyroeller commented on #37
I've a similar issue: I want to make `tab` optional in this pattern `/:id/:tab`

[2017-02-08 05:59] fromSpace commented on #89
<app-route> is reminding me of a scary series of callbacks and is a scary nesting situation. The way I would fix this is to fork app-route, then add the ability to turn of the tracking of which route is active and mark all routes that match as active, then I would wrap app-route and expose an api to set root, add routes by name, and access each route by name so that it can be observed. I should be

[2017-02-10 15:12] brettpostin commented on #179
+1

[2017-02-15 01:34] rictic commented on #96
The whole page reloads? That shouldn't happen. What are you using to initiate the url change, the user clicking on a link?

[2017-02-17 12:30] jsilvermist commented on #164
@TimvdLippe Is your fix using `selected-attribute-value` on the roadmap for this issue, or do we need to find another solution?

[2017-02-17 18:17] TimvdLippe commented on #164
@jsilvermist Good question. I have not been able to work on it (it is a very easy change though), primarily because not a lot of PRs on PolymerElements are merged right now. Probably because they are working hybrid mode instead. I added it to my TODO-list so hopefully I can work on it soonTM.

[2017-02-18 13:31] TimvdLippe commented on #164
@jsilvermist @mercmobily Please see https://github.com/PolymerElements/iron-selector/pull/148

[2017-02-18 14:40] jsilvermist commented on #164
I'm confused, why did you implement this on `iron-selector` instead of `iron-pages`?

[2017-02-18 14:45] mercmobily commented on #164
@TimvdLippe  I would love to have a simpler solution. The way I am dealing wit hit is working well, but it's a ridiculous solution.
Can I suggest you update the pull request explaining how to use your feature? The use is buried somewhere here as a comment, but I made a lot of noise with my ugly solution and...

[2017-02-18 14:46] TimvdLippe commented on #164
@jsilvermist Because [`iron-pages` uses `IronSelectableBehavior`](IronSelectableBehavior) which is what the pull request updates.

@mercmobily This solution is I think the simplest you can come up with. It is DRY.

[2017-02-18 14:50] jsilvermist commented on #164
@TimvdLippe Ah didn't realize the context, makes perfect sense now! Nice!

[2017-02-18 15:00] mercmobily commented on #164
The more I look at it, the more I like it.
There is only one issue I have. I wrote a rather large application, with two URLs:

* `/gigs/:gigId` (e.g. `/gigs/1234)
* `/users/:userId` (e.g. `/users/5678)

They both work the same way: they have an observer on `gigId` or `userId`, and if they change they make an AJAX call to load the correct info.
With this PR applied, if I navigate from `/gigs/1234`

[2017-02-24 14:19] Niklas2908 commented on #173
So is there any solution to prevent app-location from firing a second time? Or a way to listen only to the first call ?

[2017-03-08 13:27] mercmobily commented on #164
@TimvdLippe I just spent 2 hours fixing a problem with my "solution". Please tell me that there is some good news (see: your solution was committed) for this terrible problem that will affect any decently-sized app...!

[2017-03-08 13:29] TimvdLippe commented on #164
@mercmobily I suspect all PRs will be reconsidered once Polymer 2.0 has officially been released. So a little more patience right now I think?

[2017-03-08 13:38] mercmobily commented on #164
Ahhhhh that's what I feared. Oh well, my "solution" works well enough. It's just that I am about to release to production, and... let's be honest, it's not really a "solution"... whereas yours is.

[2017-03-15 20:44] mbinette opened #185 "active set before data in 2.0-preview"
For some reason the `active` property now gets updated before the `data` property. So if you were observing `active` and using `data` within the observer, it is now the wrong value.

`<app-route route="{{route}}" pattern="/view/:id" data="{{routeData}}" active="{{active}}"></app-route>`

`      properties: {
        active: {
          type: Boolean,
          value: false,
          observer: 'on

[2017-03-23 22:06] gstroup opened #187 "app-route vs carbon-route naming inconsistency"
### Description
Customers are confused since app-route is not available in bower.  Can you please publish this project to bower with the name "app-route"?  (Or perhaps a new name, since that name is already taken in the bower registry.)

### Expected outcome
`bower install app-route`
would install this project.

### Actual outcome
`bower install app-route` installs another package.
`bower install

[2017-03-27 23:30] H3dz commented on #179
I also wanted a default page and I had the same problem.

To solve it I added an observer 'propertyRouteDataChanged(route.path)' and
force the value to my default page,

[code]

[2017-03-29 14:57] shahraship commented on #164
Can you post a link to the solution? Is it [this](https://github.com/TimvdLippe/iron-selector/commit/f6c4cfd33b41072eeacc6c6a616b9b3d40024581)? I'm facing the same issue and would like to see it fixed.

[2017-03-30 00:08] shahraship commented on #164
I tried applying the pull request that @TimvdLippe had, but it didn't work as expected. Is it certain that the solution works for the given original reported issue?

[2017-04-02 08:10] lawrencemok commented on #187
Agree, quite a bit of confusion here as there are many new users to Polymer / Bower that could get stuck

[2017-04-02 11:18] abdonrd commented on #187
Polymer doesn't use the bower registry.
You should use `bower install PolymerElements/element-name`.
In this case: `bower install PolymerElements/app-route`.

[2017-04-17 20:28] sepehragapeh commented on #129
Any update on this? I seem to have the same issue

[2017-04-27 07:15] jurerick commented on #129
How it is going?

[2017-04-29 07:03] rchrdnsh opened #190 "routing is partially broken after removing app-drawer-layout..."
I am trying to use the polymer-2-starter kit, but design my own layout, while retaining the app routing awesomeness...only it's kinda broke now. All I have left on my app component now is app-location, app-route, iron-selector and iron-pages. Routing is still working, but the URL is reloading everything every time, rather than loading only the part that has changed. Not sure why this changed, as I

[2017-05-01 14:17] dwberry commented on #122
This is what I do...

My backButton.html element:
`
<link rel="import" href="../bower_components/paper-icon-button/paper-icon-button.html">
<link rel="import" href="icons.html">
<dom-module id="back-button">
    <template>
        <style>
            :host {
                display: block;
            }
        </style>
        <paper-icon-button icon="appicons:arrow-back" on-tap="goback"></paper-

[2017-05-02 06:39] ankitsorathiya opened #191 "Route loaded successfully event callback"
### Is there anyway to know the route is loaded successfully using app-route. I can track it using attach callback of particular route but is there any other way to have a callback for the route loaded successfully?

### Expected outcome

### Actual outcome

### Live Demo

### Steps to reproduce

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] E

[2017-05-02 08:06] jsilvermist commented on #191
Hmm this seems similar to PolymerElements/iron-selector#148 and #164.

[2017-05-27 13:28] jonagh opened #192 "app-location removes query params after upgrade from polymer v2.0.0-rc.7 to v2.0.0-rc.8"
Not sure if this issue should be here (in app-route) or in the Polymer repo.. but upgrading from Polymer v2.0.0-rc.7 to rc.8 has changed something that causes app-location to remove query params from the URL.

Eg: **example.html?a=1** will be changed to **example.html** (without query params) with Polymer rc.8 (or later). With rc.7 (or before) the URL stays as it should (with the query params).

T

[2017-05-29 16:00] fooloomanzoo opened #194 "app-location doesn't preserve query-string on reload"
The `query`-attribute of the internal `iron-location` gets overwritten on initial load

[2017-05-30 05:00] lastmjs commented on #194
I think I'm running into this issue as well. When I put a URL into the browser with a query parameter and hit return, the query parameter disappears. I am using a static file server that rewrites to my index.html file (SPA support), if that makes any difference.

[2017-05-30 05:01] lastmjs commented on #192
Possible duplicate: https://github.com/PolymerElements/app-route/issues/194

[2017-05-30 05:02] lastmjs commented on #194
Possible duplicate: https://github.com/PolymerElements/app-route/issues/192

[2017-05-30 05:23] lastmjs commented on #194
Looks like there's a PR to fix this: https://github.com/PolymerElements/iron-location/pull/83

[2017-05-30 05:23] lastmjs commented on #192
Looks like there's a PR to fix this: https://github.com/PolymerElements/iron-location/pull/83

[2017-05-30 05:30] lastmjs opened #195 "Rethink all of the two-way data bindings"
I believe that two-way data bindings are harmful. The unmanaged mutations are dangerous and can lead to unchecked complexity. These issues and the resulting PR are an example of this:

Both of these issues relate to the same problem:
* https://github.com/PolymerElements/app-route/issues/194
* https://github.com/PolymerElements/app-route/issues/192

Here is the PR to fix it:
* https://github.com/Po

[2017-05-30 11:00] fooloomanzoo commented on #194
The Problem lies at the `paramsObj` in `iron-query-params.html`. The `paramsObj `is initialy an empty Object and gets initially parsed and reflected to the `window.location.search` String. A solution could be that the `paramsObj` is `null `in the beginning so that the observer is not called.

[2017-05-31 07:49] panuhorsmalahti opened #196 "Support changing the page using the data property"
Lets say I have the following app-route defined:

[code]

I'd like to change the page from /bar to /foo/... using an object `const o = { a, b, c, d};`.

I can do this manually by calling ``this.set('route.path', `/foo/${o.a}/${o.b}/${o.c}/${o.d}`);`` - but now I'm duplicating the url definition. It would be useful to do something like `this.set('data', o);`, but this doesn't work since `active` is

[2017-06-03 15:37] mozeal opened #198 "app-location ignore url-space-regex when build (bundled)"
### Description
app-location ignore url-space-regex when build

### Steps to reproduce

1. use app-location
2. define url-space-regex
3. it works fine when run locally (no build)
4. If build bundled, app-location will ignore url-space-regex (works ok if build unbundled)

### Browsers Affected

- [X ] Chrome
- [X] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ] IE 11
- [ ] IE

[2017-06-04 09:16] #198 closed

[2017-06-08 09:59] Demuss commented on #129
I have the same buf. I'm fixed this bug by just calling routeChange and format url as i need, it is running only once on change url
        observers: [
            '_routeChanged(route)',
        ],
            _routeChanged: function (r) {
            console.log(r.path);
            var id = r.path.split("/")[2];
            var tab = r.path.split("/")[3];
            if(id  != null)

[2017-06-12 07:49] PuruVijay14 opened #199 "App route doesn't work on Python3 http.server when accessed by omnibox"
I have this URL using app route `localhost/login` which shows the element `pe-login`. But when I access it using the omnibox in chrome and the server is Python 3 http.server, I see a 404 page.(of server)
How do I correct this?
Thank you
PS: I use polymer-2-starter-kit

[2017-06-12 12:31] jsilvermist commented on #199
When using `app-route` for it to catch requests to sub-addresses you need to redirect requests to the main entrypoint page.

This can be done with python, but would require manually extending `SimpleHTTPServer`.

An easier way to serve this locally is to use the `polymer-cli` and use `polymer serve` which will automatically redirect requests to your entrypoint page.

You can find more information

[2017-06-12 12:49] PuruVijay14 commented on #199
Thanks Jason. But I will be deploying the site on a site ground. Perhaps they also use http.server. What am I to do in that case?

[2017-06-12 14:01] jsilvermist commented on #199
You can use a `.htaccess` file with something like this:
[code]

[2017-06-15 00:58] #192 closed

[2017-06-15 23:38] masonlouchart commented on #112
Any news?

[2017-06-19 09:13] antoinegoutagny opened #200 "app-location deletes query string parameters"
### Description
`app-location` removes query string parameters from the location.

### Expected outcome
I use an app-location tag in my component to obtain query string parameters, like this;

`<app-location route="{{route}}" query-params="[[queryParams]]"></app-location>`

 One would expect to have a queryParams object containing query string values as key/values.

### Actual outcome

The url is

[2017-06-19 11:03] antoinegoutagny commented on #200
Duplicate of #194 , had not seen it before.

[2017-06-19 11:03] #200 closed

[2017-06-27 14:19] vedtam opened #201 "Observer set on `routeData` keeps firing in the background after navigating to a different page/element."
Hi,

Is it a normal behaviour for an observer set on `routeData` to fire after navigating away from an element?
I use the stock PSK, with `iron-pages`. I have created two pages: A, B - each having `app-location` and an observer set for `routeData` so when this changes, data gets fetched from the server.

The issue is, page A starts making requests when I navigate to page B.
Should I somehow unregi

[2017-06-28 18:54] artemik opened #202 "Changing data.page doesn't update history"
Suppose have this:

[code]
Programmatically updating `routeData.page` brings me to a new page, but it doesn't update the browser history.

I know about
[code]
but I definitely shouldn't mess around with it manually.

[2017-07-03 08:53] rene-lindner-isw commented on #149
Run into the same issue.
If the url changes from "a" to "b?c=0" you would expect the following events: `path-changed`, `query-params-changed`, `route-changed`.
But you get `path-changed`, `route-changed`, `query-params-changed`, `route-changed`.

The url is only changed 1 time, but route-changed is fired 2 times.

[2017-07-03 17:33] mlabarre opened #203 "Probleme with app-route conprehension"
Hello
I have just spent two days on the same problem which I think is due to a misunderstanding of `app-route`. In my app page, I use the following "standard" directive
[code]

I have a product page with
[code]
I trap change for this page with an observer on routeData.productName

I have another page, a person page with

[code]
When I set the path (set route.path) to `/product/apple`, I reach the

[2017-07-03 18:25] mlabarre commented on #203
Problem already submitted. Sorry

[2017-07-03 18:25] #203 closed

[2017-07-15 15:14] CaptainCodeman commented on #201
Yes, once you load a view it stays loaded so if you've set an observer it will keep updating. I tried to explain what's going on and give some options to [make the non-active views inert in this blog post](https://www.captaincodeman.com/2017/05/18/polymer-tips-prevent-inactive-views-responding-to-other-route-changes). There are a few different approaches you can use.

[2017-07-16 12:20] vedtam commented on #201
@CaptainCodeman thanks for the info, I was using a solution like nr. 2 in your blog post, but nr. 1 seems attractive as well.

Thanks!

[2017-07-18 11:54] czellweg commented on #149
This might be interesting: https://github.com/PolymerElements/iron-location/pull/86

[2017-07-20 10:25] jmorille opened #205 "Exception Cannot create property '__queryParams' on string '}' when using 2 app-route with pattern that don't matching"
### Description
When using 2 app-route with 2 pattern like ```/:page``` and ```/:page/:id```
The first time call url of the first patten work, but the second call of the same url (reload the browser) we have an expection in console (which break the page)

the route is define as
[code]

### Expected outcome
Each call of the url or releod ```#/list``` dont break the page

### Actual outcome

Excepti

[2017-07-26 13:30] Alber70g opened #206 "Property "data" doesn't change when the route isn't active"
### Description
app-route.data isn't changed when the route is not active according to the pattern. This results in false positives when only looking at the app-route.data.

### Example
[code]
Let's say we have this route, we can add an observer `_observeRoutes(productData, actionData)`. Then check for both of the id's, where we assume that only one can be filled.

This assumption is false: the no

[2017-07-27 19:18] ronnyroeller commented on #194
Observing the same issue when packing the web app with Cordova: Cordova's cdvToken gets stripped from the URL, thereby preventing device images to be shown in the Cordova app.

[2017-08-01 17:33] ymaz commented on #202
@artemik you could try to update `route` "programmatically"
`this.set(route, '/new_path');`
it should force path update as well as history records.

[2017-08-08 19:37] dwalker0044 commented on #173
Related/duplicated: https://github.com/PolymerElements/app-route/issues/178

[2017-08-08 19:38] dwalker0044 commented on #178
Related/duplicated: https://github.com/PolymerElements/app-route/issues/173

[2017-08-09 18:34] NeoLegends commented on #206
@Alber70g We just published a PR that fixes this over at #210.

[2017-08-09 18:36] Alber70g commented on #206
Thank you, this is great!

[2017-08-22 13:13] jmorille commented on #205
This is not a bug, is an syntaxe error that cause this strange behaviour..
 tail="{{subrouteEdit}}}"> as a mustucha in, more at the end that transform the tail object to a tail String

[2017-08-22 13:13] #205 closed

[2017-08-24 14:16] ggirard07 commented on #202
route is not a simple string bug rather a complex object.
I don't think you can update it this way without breaking some app-location / app-route internals.

[2017-08-24 21:11] ymaz commented on #202
@artemik @ggirard07
Yes, you are right, that `route` is Object so then you should able to update the `path` prop under this object
`this.set('route.path', '/search/');`
or via
`this.set('routeData.user', 'mary');`
^^
https://www.polymer-project.org/1.0/toolbox/routing#change-routes

[2017-08-30 14:51] kshep92 commented on #129
@johnlim guess not. Maybe in Polymer 3.0? I've always said that Polymer needed a fully featured routing system complete with life cycle hooks (before callback, after callback) and maybe we'll get that in addition to a resolution to this issue.

[2017-08-30 15:08] tekkamanendless commented on #129
I've been using @abridger's `debounce` workaround for the past year, and that's been good enough for me.  If my workflow becomes more complicated that this gets in the way again, maybe I'll poke around and see if I can submit a patch.  That's unlikely at this stage, however.

[2017-09-01 13:11] jsilvermist commented on #206
This is a major problem when using a subroute that expects say `/category` as the main page, and `/category/item` as the subpaths that it manages, as it completely ignores `/category` without this change.

[2017-09-25 07:37] ernsheong commented on #165
Isn't it supposed to be used with `app-location` in the form of:

[code]

[2017-09-25 07:39] ernsheong commented on #194
I'm running into this bug as well.

[2017-09-27 15:14] OmidHekayati opened #214 "Suggestion: Deprecate in favor of a library like Platinum Service Worker"
I think it is time to rethink about all elements for routing in web components projects. I am very glad to hear that Platinum Service Worker is now deprecated in favor of workbox!
We must know that routing is a logic process and must do as well as service worker in programming language(JS) not a markup language(HTML)! It can be done with more painless in JS codes!

Polymer have many elements for r

[2017-10-05 17:18] MeTaNoV commented on #179
same issue here... and applying a similar workaround as @H3dz ...

[2017-10-13 13:12] saadixl opened #215 "app-location.html, app-router-converter-behavior.html, app-route-converter.html etc files are missing after bower install"
### Description

I tried to install ```app-route``` using ```bower install app-route --save``` on ```Polymer 1.9.1```. After installation I found out that, app-location.html, app-router-converter-behavior.html, app-route-converter.html etc files are missing under ```/bower_components/app-route```.

### Expected outcome
Expected all the missing files inside the directory

### Actual outcome
app-loc

[2017-10-15 09:37] ernsheong commented on #215
Have you tried clearing out your `bower_components` folder and retrying?

[2017-10-15 09:40] ernsheong commented on #214
I am not familar with Workbox but it doesn't look like it's a 1-1 routing replacement. It should also be possible to develop web apps that are not PWAs so I'm not so sure about this.

[2017-10-15 11:48] OmidHekayati commented on #214
@ernsheong I think you have misunderstood form my suggestion. I say we must have a good JS library for routing instead of many elements like app-route, app-location, iron-pages,... .
`workbox` is a library for other requirement (service worker) of `PWA` architecture.

[2017-10-15 12:37] ernsheong commented on #214
Well, I don't disagree with you on that. It still says on the README that app-route is a beta. And the Polymer team, looks like they're busy pushing stuff to Polymer 3 and leaving many components in so-so state. Looks like we'll have to make do for now.

[2017-10-15 14:34] saadixl commented on #215
Yeah I removed the ```bower_components``` and tried again. But didn't work. Screenshot attached:

<img width="310" alt="screen shot 2017-10-15 at 8 31 40 pm" src="https://user-images.githubusercontent.com/1633940/31585705-26a472c6-b1e8-11e7-8ce5-b4c2fe5aef3d.png">

[2017-10-15 14:39] ernsheong commented on #215
The latest release of bower is 1.8.2. Check with `bower --version` and make sure you have the latest version. Update with `npm i -g bower`

In the meantime, you can download the release manually from https://github.com/PolymerElements/app-route/releases and get on with life.

[2017-10-16 08:07] NeilujD commented on #215
@saadixl I think you should install this element via `bower install --save PolymerElements/app-route` command instead and remove the line `"app-route": "^[version]"`, in you `bower.json` file.

[2017-10-16 10:55] saadixl commented on #215
```bower install --save PolymerElements/app-route``` worked. Thanks for helping 🙂

[2017-10-16 10:55] #215 closed

[2017-10-17 16:05] markbrocato commented on #129
+1 We're running into this as well.

[2017-10-19 16:20] ggirard07 commented on #185
Currently using version 2.0.2 and this issue is still happening.

Looks like active property is updated aside the batch update ([here](https://github.com/PolymerElements/app-route/blob/v2.0.2/app-route.html#L322)), even if the batch update also contains the active property itself ([here](https://github.com/PolymerElements/app-route/blob/v2.0.2/app-route.html#L294)).

[2017-10-19 16:51] markbrocato opened #216 "queryParams blank when using client-side navigation"
### Description
`<app-location query-params="{{queryParams}}"></app-location>` does populate the queryParams property on initial page load, but does not update the queryParams property on subsequent navigation.

### Expected outcome

The queryParams property should be updated on location-change.

### Actual outcome

The queryParams property becomes blank on subsequent navigation.

[2017-10-19 21:08] chajath opened #217 "Any way to override iron-location's dwellTime?"
### Description
Sometimes, when navigation is initiated by `this.set("route.path", ...)`, current location is not recorded in browser nav stack if the navigation is made under the default dwell time of 2 seconds.

### Expected outcome
A way to override default dwell time behavior.

### Actual outcome
No viable alternative to sticking to the default dwell time, or firing navigation event to `window

[2017-10-19 21:15] chajath commented on #217
I see there are at least three PRs to add this: #135, #184, #213

Could any of polymer team look at them and merge the PR please?

[2017-10-19 21:56] e111077 commented on #168
related #148

[2017-10-19 21:58] e111077 commented on #148
Should be fixed in #218. Issue was that it was set atomically before and no longer in 2.0 since our atomic update did not support read-only props. It does now.

[2017-10-19 22:02] #148 closed

[2017-10-19 22:02] #168 closed

[2017-10-19 22:02] #185 closed

[2017-10-23 14:22] SieBrum commented on #194
Still encountering this problem, even on version 2.0.2

[2017-10-27 16:25] pdesjardins90 commented on #137
For me it's just weird that being at /section/:id, and hitting back to /section doesn't trigger an update, I had to fork the repo just to decomment those 2 lines to workaround that

[2017-10-30 03:37] cloudily commented on #89
This thread is over a year old now.  I wanted to post a possible workaround for the missing trailing slash issue, since it doesn't appear that this is of high priority.

[code]

In your polymer element, setup an observer for `subroute.path`.  If it is an empty string, you can then modify the `subrouteData.id` property.

[code]

[2017-10-30 05:01] superjose commented on #89
@cloudily Thanks for the workaround, I"ll keep this around ;)

[2017-11-09 12:49] JGSolutions commented on #150
@TimvdLippe Your example does not work as expected. I want to wrap your example <login-check> only on certain views then needs to be authenticated but even if I am not in that specific route the login-check gets executed and logs out all my views. Also since I am using the prpl pattern makes things abit more complex

Has been another other solutions. Is the polymer team gonna implement some auth-r

[2017-11-09 14:55] JGSolutions commented on #150
Ok i cam up with something and paste the code in jsbin soon

[2017-11-18 07:56] NeverOddOrEven commented on #37
For anyone searching for a quick fix, I hope this helps: https://jsbin.com/meduqu/20/edit?html,output. Lines 17 and 47 are the main things to look at.

Line 17:
[code]

Line 47:
[code]

[2017-12-14 08:08] mercmobily commented on #164
@TimvdLippe  Thank you so much for your work on this. I am in the process of migrating to P2, and refactoring. How far away do you think this PR is? https://github.com/PolymerElements/iron-selector/pull/148 Please let us know!

[2017-12-14 10:57] TimvdLippe commented on #164
Still waiting for review, so I am not sure. You can rely on my fork with
the branch though, if you want to use it already.

Op do 14 dec. 2017 om 09:08 schreef Tony Mobily <notifications@github.com>:

[2017-12-14 12:30] mercmobily commented on #164
A couple of questions:

* With your PR, if a sub-page changes `subRoute`, will the change propagate up?

Your example reads:

    <iron-pages id="pageSelector" role="main" selected="[[page]]" attr-for-selected="name" fallback-selection="view404" selected-attribute="route" selected-attribute-value="{{subRoute}}">
      <my-gig name="gig"></my-gig>
      <my-city name="city"></my-city>
    </iron-pa

[2018-01-09 16:04] hyyan commented on #194
still an issue

[2018-01-28 09:22] kkimdev opened #221 "P1 bug: Missing import on"3.0.0-pre.6" app-route"
### Description
On importing app-route.js on 3.0.0-pre.6, browser emits an error:

### Expected outcome
No js error

### Actual outcome
Js error
[code]

It looks like `import { Polymer } from '../polymer/lib/legacy/polymer-fn.js';`  line was removed at some point and that caused the error

[2018-01-28 09:23] kkimdev commented on #221
@Deepayan-Ghosh

[2018-01-28 09:37] kkimdev commented on #221
it seems like the last known good version is 3.0.0-pre.1

[2018-02-01 02:19] aarondrabeck commented on #217
+1

[2018-02-10 06:46] hariprasadiit commented on #202
bug is still present. changes to the `data` are not propagating to the `route` object.

[2018-02-16 00:16] iSuslov commented on #164
Ok, enough of this ridiculously long discussion. First of all @TimvdLippe solution won't work. You guys trying to patch component which has nothing to do with this issue. `iron-selector` works exactly like it suppose to work. **End of story number one.**

**Story number two.** Issue #148. This is where **we** (**core devs** actually, but ohh well my generosity..) completely forgot how and why `app

[2018-02-16 03:10] mercmobily commented on #164
I am a little lost... Isn't the new supa-dupa version of app-route supposed to make atomic changes to the data, so that there is only one notification for all changes? I really though that with P2 the whole "ordering nightmare" would be over?

Second... what does your patching component do...?

[2018-02-16 03:43] iSuslov commented on #164
As I understand, technically it will be one update, **but** the way binding works is for every updated property `property-changed` event will be emitted. Since we are in single threaded environment, this events are ordered somehow. Right now according to implementation, the order is pretty random.
My patch overrides `setProperties` method of `app-route` specifically, assures that `data` is updated

[2018-02-22 10:35] HJK181 commented on #129
Still nothing new after more than one and a half year?

[2018-02-22 20:44] ArthurJahn commented on #194
same problem here

[2018-02-28 17:03] Retlawxx commented on #173
For me, this happens only when the path has parameters like `/path?parameter=test`

[2018-03-19 00:56] mercmobily commented on #164
@iSuslov Ivan your PR was closed: #222 Did you give up on making one up?

[2018-03-24 08:34] SergeShkurko opened #224 "Url can't change"
### Description
Url can't change automatically

Hello everyone
If location http://127.0.0.1:8081/tabs
i see nested tabs i can switch them but location not changing
![](https://i.stack.imgur.com/8p7oo.png)
![](https://i.stack.imgur.com/47rfc.png)

otherwise if location http://127.0.0.1:8081/tabs/
and i switch tabs then location is changing normally
![](https://i.stack.imgur.com/kY7h7.png)
![](https

[2018-04-08 12:58] anoblet commented on #137
This issue applies to my project as well. I have this configuration:

/:page then /:id

In my page i use the id to decide whether or not to show a list, or a single item. When I navigate to /page id remains null. Then to /page/0 and id changes to 0. Then back to /page and id still remains 0. I'm currently using an observer to reset the data if route.path = ''. This doesn't seem to be incredibly ef

[2018-04-09 08:55] #221 closed

[2018-04-17 15:39] #224 closed

[2018-04-17 16:24] #134 closed

[2018-04-17 16:25] e111077 commented on #217
revived and merged #135

[2018-04-17 16:25] #217 closed

[2018-04-17 16:34] e111077 commented on #206
copying my comment from #210:

This was a feature intentionally reverted while in beta because of computational cost. It would propagate down the entire routing subtree upon each change.

Seeing as there has been repeated requests for this feature, I'd be willing to merge a non-breaking change that hides this feature behind a flag (name I have made up below is crude and I welcome suggestions), so

[2018-04-17 16:36] e111077 commented on #199
@jsilvermist has it right on the money. This is the method we use on our node / firebase environments as well.

[2018-04-17 16:36] #199 closed

[2018-04-17 16:40] e111077 commented on #202
Cannot reproduce. Please reopen with a live code example. Please see our issue template:

https://raw.githubusercontent.com/PolymerElements/app-route/master/.github/ISSUE_TEMPLATE.md

[2018-04-17 16:40] #202 closed

[2018-04-17 16:47] e111077 commented on #196
Cannot reproduce. I am able to simply set `<app-route pattern="/:a/:b">.data = {a:'foo', b:'bar'}` successfully.

Please reopen with a live code example. See our issue template for more info:
https://raw.githubusercontent.com/PolymerElements/app-route/master/.github/ISSUE_TEMPLATE.md

[2018-04-17 16:47] #196 closed

[2018-04-17 16:51] e111077 commented on #187
I endorse @abdonrd's answer

[2018-04-17 16:51] #187 closed

[2018-04-17 16:54] e111077 commented on #195
The team agrees with this sentiment as is why our best-practices have changed to use two-way databinding only when absolutely necessary. Our current catalog of elements though are in a general feature freeze; we are only fixing bugs and adding features presented in PRs that address highly-requested features.

For now, we ask that people fork our elements for large breaking changes. 3.0 will likely

[2018-04-17 16:54] #195 closed

[2018-04-17 16:56] e111077 commented on #178
duplicate. closing in favor of #173

[2018-04-17 16:56] #178 closed

[2018-04-17 16:57] #157 closed

[2018-04-17 16:59] e111077 commented on #158
See explanation on #176.

Keeping this issue open for visibility

[2018-04-24 00:08] sundar-rajavelu commented on #129
Even after all these months, for reasons unknown, the 'routeData.page' is still firing twice.
So, I did this:
`

    <app-location
      route="{{route}}">
    </app-location>

    <app-route
      route="{{route}}"
      pattern="/:page"
      data="{{routeData}}"
      tail="{{subroute}}"
      query-params="{{queryParams}}">
    </app-route>

     ....

     static get observers() {
        ret

[2018-04-24 13:27] bennypowers commented on #37
The problem with @NeverOddOrEven's solution is that it breaks the back button. The user will now have to press back twice.

[2018-05-02 06:57] ksuhiyp opened #227 "Correcting bad syntax context in hashes vs paths section"
### Description
[Documentation]
Correcting bad syntax context  in `Hashes vs Paths` section on README.MD where the word using should be uses `By default app-location routes using the pathname portion of the URL `
### Expected outcome

Better literal syntax where the word using should be uses
### Actual outcome

`By default app-location routes uses the pathname portion of the URL `
### Live Demo
-

[2018-05-02 07:45] ksuhiyp commented on #227
#228

[2018-05-02 18:00] #227 closed

[2018-05-05 05:46] #194 closed

[2018-05-05 05:47] e111077 commented on #194
fixed by #86

[2018-05-07 06:36] mercmobily commented on #164
My final workaround works like this:

      // ****************************************************************************
      // FINAL WORKAROUND FOR https://github.com/PolymerElements/app-route/issues/164
      // "borrowed" from Gigsnet's code
      // ****************************************************************************

      static get observers () {
        return [
          '_su

[2018-05-16 10:23] warmachine7733 opened #229 "gcnfkg,j"
### Description

### Expected outcome

### Actual outcome

### Live Demo

### Steps to reproduce

### Browsers Affected

- [ ] Chrome
- [ ] Firefox
- [ ] Safari 9
- [ ] Safari 8
- [ ] Safari 7
- [ ] Edge
- [ ] IE 11
- [ ] IE 10

[2018-05-18 05:17] andrewspy opened #230 "Error when using `auto-activate` when routing from activated path to rootPath"
### Description

When routing from activated path (i.e. `/admin`, which activated to `/admin/`) to rootPath (i.e. `/`). encounter error in Chrome.

From the console of Firefox, it seems to suggest that the URL becomes `//` which is an invalid URL and caused the error.

### Expected outcome
No error

### Actual outcome

In Chrome
[code]

### Live Demo
N/A

### Steps to reproduce

[code]

### Browse

[2018-05-19 23:07] mkay581 opened #231 "Running into an import problem with Polymer 3"
### Description

I'm attempting to use the `app-location` element provided by the version of this package using polymer 3

[code]

but when this file is rendered, it gives me the following error in the console:

[code]

After inspecting, it is failing on the [the import lines in app-location.js](https://github.com/PolymerElements/app-route/blob/__auto_generated_3.0_preview/app-location.js#L67).

I

[2018-05-21 14:51] mkay581 commented on #231
Nevermind. It appears that node's resolution algorithm solves this issue by setting the module resolution to `node`.

[code]

[2018-06-13 19:10] jkanche opened #233 "Error when using use-hash-as-path"
### Description
The page doesn't get updated with the path if path is set using JS.

### Expected outcome
the page url should be updated

### Actual outcome

The page url is not updated

### Steps to reproduce

1. Add the following to a page
[code]

2. set the workspace id in Js ```this.set("routeData.workspace", "sample-workspace");```
3. run `polymer serve` and if the page is pointing to localho

[2018-06-19 10:48] aemonge commented on #231
Still broken if you don't use `polymer serve`, but just a simple nginx:

**index.html**
[code]

**console output**
[code]

[2018-06-19 21:28] chrismclarke commented on #137
same issue, keen to know if there has been any response to this

[2018-06-27 08:50] sebs opened #236 "Outdated docs links"
In the header of the project on github, documentation for polymer 1.0 is linked.

Please make the following changes:

- Provide all important docs in this repository, do not rely on polymer js docs for that
- Link to the Latest or even Polymer 2 and 3 documentation, not 1.0
- How is that "beta" going ? Since probably most polymer projects use this respos, is there anything new?

Regards
Sebs

[2018-06-27 09:05] sebs commented on #129
11. Juli 2016

![no time for that](https://i.imgur.com/nTXnixm.jpg)

[2018-06-27 09:30] sebs opened #237 "Links to OInline Docs and Demos missing"
These links are missing at webcomponents.org as well as on the github readme.

[2018-06-27 16:45] jsilvermist commented on #129
With Polymer 3 I'm finding the `pwa-helpers` router a sufficient replacement in most cases.

[code]

[code]
For query parameters, there's no end of solutions available for parsing `location.search` so I'll just leave that for a Google search.

[2018-06-27 19:36] sebs commented on #129
This is a close ?

[2018-06-30 12:04] andrewspy commented on #230
Closing the issue as I have discovered it was an issue on my app where I use multiple `subroute` which was all activated at the same time.

[2018-06-30 12:04] #230 closed

[2018-07-20 10:18] RossLegalSuite opened #239 "Question - App Route with Sub Paging."
I've read : https://www.polymer-project.org/2.0/toolbox/case-study#routing
And: https://github.com/PolymerElements/app-route

I think I am just confused how to use the subrouting component, but the documents and example I have read hasn't really gotten me anywhere.

If anyone could point out the elephant in the room for me that would be great.

What am I trying to Achieve?
I have a list of items(c

[2018-08-01 07:26] robertfoobar commented on #231
I'm running into this too. I'm using the http-server node package and plan to use nginx for hosting. I vote for re-opening this issue until we've found a solution. @mkay581 could you reopen it, please?

[2018-08-01 11:39] mkay581 commented on #231
Sure reopened

[2018-08-01 14:58] robertfoobar commented on #231
@aemonge Did you actually build the app? I had to build it and host it from the build output directory. Before that I was hosting from the project root folder which caused the issue.

My build config section in polymer.json:

[code]

When I run

[code]
and host it from the output folder
[code]
everything works as expected, because during the build, the named module "@ polymer" will be replaced by

[2018-09-03 15:45] ankon commented on #194
@e111077 do you mean #86 is a duplicate, and fixing that would fix this issue? Right now I'm confused as to the state of #194: It's closed by #86, but that one is still open without much activity.

[2018-09-03 20:33] e111077 commented on #194
Nice catch. I meant to link to another repo. Comment fixed

[2018-09-17 22:56] dannywolfmx commented on #201
You can also use dom-if and visible (iron-pages) to activate or deactivate the app-route. In this way the app-route of the children pages will not do anything if they are not being visible.

[2018-09-26 20:30] govis commented on #231
Similar issue, with Chrome throwing the following error on import statement(s): <code>Failed to resolve module specifier "@polymer/polymer/polymer-legacy.js". Relative references must start with either "/", "./", or "../".</code>

I think import statements should have relative path - do they not?

[2018-10-01 18:53] govis commented on #231
Thanks @robertfoobar for suggestion, but why unnecessary step of having to build to fix incorrect import? A simple hello word example would run just fine without building providing the import statements are pointing to the right place.

[2018-10-08 16:56] mkay581 commented on #231
Closing since solution has been implemented.

[2018-10-24 22:10] robrez commented on #165
ping?

[code]

[2019-02-11 20:23] abdonrd commented on #154
As far as I know, the Polymer Elements are not going to continue developing. So I close this issue.

[2019-02-11 20:23] #154 closed

[2019-02-12 05:19] Sanjeevs1995 commented on #231
How to solve this issue while using these components in web app created using python-django

[2019-04-24 14:46] tjb1982 commented on #173
I'm experiencing something similar to what @lauritowal mentioned above: when there _were_ `queryParams` before changing the URL to something without query params, then `route-changed` is dispatched twice, the first time around with bad state (i.e., the old `queryParams`).

E.g., start with URL:

    /context/?param=foo

`route-changed` is dispatched:

    appRout.queryParams === {param: "foo"}

us

[2019-04-24 17:26] tjb1982 opened #245 "`route-changed` fired twice with bad state"
I'm experiencing a problem where when there _were_ `queryParams` before navigating to a new URL without query params, `route-changed` is dispatched twice, the first time around with bad state (i.e., contains the old `queryParams`).

E.g., start with URL:

    /context/?param=foo

`route-changed` is dispatched:

    appRout.queryParams === {param: "foo"}

user clicks on `<a href="/context">...</a>`

[2019-07-04 18:44] #173 closed

[2019-07-04 18:47] mkropf commented on #173
outdated, nobody caring anymore

[2019-12-15 02:59] dman777 commented on #245
I am hitting this also

[2020-01-03 20:05] andrisole92 commented on #231
Getting the same issue when importing in pure HTML using http-server.

I want to use the components I build with the Polymer in plain HTML.

[2020-01-03 20:11] mkay581 commented on #231
Reopening at the request of others.

[2020-03-16 20:08] pedro2555 commented on #37
I've manage a good, from my perspective anyway, solution to this problem.

_The trick is to leverage the active property combined with the data one._

## The problem
### Routes
We have two levels of routing that configure the following possible urls:
 * `/items`: show all items
 * `/items/:id`: show the item `:id` details
 * `/items/:id/:detail`: show the item `:id` `:detail`

Trailing slashes mus

[2020-07-13 21:37] #113 closed

[2020-07-31 09:03] danleyb2 commented on #173
@mkropf  this issue still exist

[2020-07-31 09:26] danleyb2 commented on #173
On further testing, it happens when using `url-space-regex` and `pattern`

This fires changed twice
[code]

This fires changed once
[code]

[2022-09-06 13:54] conceptree commented on #231
Any news on this one? We ran into the same problem in the project that I am part of, we just updated our main components and now using polymer 3 versions but still loading polymer 2 components that will take more time to be migrated. Any suggestions?